[2010-04-19 23:13] jbevain opened #4 "pdb round trip loses iterator information"
When round tripping a pdb with Mono.Cecil and Mono.Cecil.Pdb, we're losing some custom data about iterators. VS is then unable to debug properly iterator variables.

It looks fixable.

With the CCI code, a PdbFunction has a iteratorClass field, mapping a method to its iterator class. Then the MoveNext method has an iteratorScopes field, which is a collection of scopes.

To encode that back in the

[2011-09-28 08:50] ghost opened #76 "A few changes to stabilize output binaries proposal"
I want to propose a few minor changes to allow user to control all assembly properties such as build date/time, debug sources guids, etc...
1. Allow to control PE build timestamp through exposing _time_stamp_ property of the _ImageWriter_. For instance, it can be an optional (nullable) property of the _ModuleDefinition_ - and _UtcNow_ can be used only as fallback in case if a user hasn't provided

[2012-02-29 10:50] jbevain opened #90 "pdb roundtrip loses information"

[2012-03-02 20:55] mhutch opened #94 "Stream based module reading"
Currently Cecil loads entire assemblies into memory, instead of using mmap or reading from the filestream as needed. This is a big problem when reading assemblies with large embedded resources. Cecil has an API for accessing a resource stream, but it's simply a MemoryStream over the buffer.

Ideally, it would also be possible to provide a stream when adding embedded resources to existing assemblie

[2012-06-17 14:11] jbevain opened #104 "WinRT support"
* TypeSystem support for System.Runtime.dll itself
* TypeSystem support for assemblies referencing System.Runtime.dll.
* ARM assemblies.
* WinRT metadata version
* Custom Attributes on TypeRef and MemberRef.

[2012-07-27 14:08] qxshower opened #107 "Failed to obtain the symbols information from a modified pdb for a modified assembly"
Hi,

I followed this link (https://github.com/jbevain/cecil/wiki/Debug-symbols) to modifying the pdb file to match with the modified assembly. It worked great -- I was able to create a matched pair of assembly and pdb file (checked by a tool called "chkmatch").

However, I have some "follow-up" problems:

First, I did nothing in the "make required changes" section (as shown in the following code s

[2013-03-20 13:29] JohannesRudolph opened #124 "InvalidOperation Exception importing generic type with a type parameter from declaring type"
[code]

Using module.Import( typeof( HasStringKeyedDictionary<> ).GetField( "PARTIALLY_CLOSED" ).FieldType ) throws an InvalidOperationException.

The error was introduced with one of the last change to ImportGenericContext and I used to get it to import properly before that (not sure if I have to blame f5a7557 or 4f76389).

The problem seems to be that the declaring type of the parameter TValue d

[2013-08-02 00:59] Const-me opened #136 "Make exception more usefull"
When loading a module from a stream that doesn't support seek operation, the exception is thrown saying "Value does not fall within the expected range." The message should say instead e.g. "The input stream must support read and seek operations".

[2013-08-02 06:09] blairstark opened #137 "Using package breaks VS2012 watch window symbol evaluation"
I found this issue using the Fody/PropertyChanged nugget package.
Simon believes this is an issue with Cecil.

I wonder if this is the same as

https://github.com/jbevain/cecil/issues/90

### Steps to reproduce

1. create new console app project.
2. put a breakpoint on first curly brace of the Main method
3. run app
4. open watch window.
5. add this watch: `new List<string>()` observed result: Cou

[2013-11-30 02:30] lostmsu opened #146 "Would be nice to have a portable library"
Otherwise any client of Cecil has to stick to compile-time directives to implement portability

[2014-01-20 16:12] StephaneDelcroix opened #152 "Supports opening Pcl librairies"
looks like the AssemblyResolver doesn't know (yet) about PCL libraries

[2014-01-21 20:03] KevinH-MS opened #153 "PdbReader does not handle custom debug info for dynamic locals"
I have opened a bug for Cci to support this type of custom debug metadata (https://ccimetadata.codeplex.com/workitem/7742).  When the Roslyn version of the Microsoft C# compiler is released, this will be necessary to enable loading pdbs for code that contains dynamic locals.  Once this bug is fixed in CCI, it would be good to port to Cecil.

[2014-03-25 01:51] alexrp opened #161 "A few FIXMEs/TODOs from ilasm"
Opening this as a sort of meta-bug for various things that I ran into while working on the managed `ilasm`.

FIXMEs:
- https://github.com/alexrp/mono/blob/ilasm-cecil/mcs/ilasm/parser/ILParser.jay#L2331
- https://github.com/alexrp/mono/blob/ilasm-cecil/mcs/ilasm/parser/ILParser.jay#L3144

TODOs:
- https://github.com/alexrp/mono/blob/ilasm-cecil/mcs/ilasm/parser/ILParser.jay#L498
- https://github.c

[2014-03-26 09:25] krk opened #162 "Rewritten PDB does not match the assembly"
Some symbols cannot be inspected while debugging async-await methods and throw the following error in the immediate window:

The name 'a' does not exist in the current context

Ref: https://github.com/Fody/Fody/issues/120

[2015-01-02 15:33] XoseLluis opened #193 "DelegateConverter"
This comes more out of curiosity than due to a real need. The thing is that I was wondering about the feasibility of converting a delegate to an Expression Tree (just the reverse procedure of Expression.Compile).
Some StackOverflow discussion led me to this old post:

http://evain.net/blog/articles/2009/04/22/converting-delegates-to-expression-trees/

that mentions an experimental DelegateConverte

[2015-01-02 16:15] #193 closed

[2015-01-02 16:17] jbevain commented on #193
Yeah that's not quite the place. Issues are for, well, Cecil issues/bugs.

To answer your question though, yes it's possible, but no, DelegateConverter is not what you're after, it was just a prototype. I suggest you use ILSpy's engine to decompile method bodies.

Happy new year!

[2015-01-09 17:36] artcodex opened #195 "Default assembly resolver can't resolve WinRT metadata"
The default assembly resolver looks in well know locations and gac for assemblies, but when type requires loading of Windows.winmd Assembly resolver doesn't look in Windows kits and also doesn't look for winmd files. This isn't a huge problem during reading as a custom resolver can be supplied, but this problem is hit during writing as well at it doesn't seem like a custom resolver can be supplied

[2015-01-14 08:26] DavidKarlas opened #196 "Update Mono.CompilerServices.SymbolWriter"
Upstream Mono.CompilerServices.SymbolWriter supports [Column, EndLine and EndColumn](https://github.com/mono/mono/blob/97dc571fe2481ec429c1ab537dd7bf6b9316f5aa/mcs/class/Mono.CompilerServices.SymbolWriter/MonoSymbolTable.cs#L186-L187).

[2015-01-16 13:56] jbevain commented on #196
That looks sweet, thanks! All the tests are passing?

[2015-01-17 09:25] DavidKarlas commented on #196
Yes. Tests are passing.

[2015-01-21 14:45] Anna-Budkina opened #199 "Table EncLog size bug"
If an assembly contains EncLog table, there is an exception while parsing nested types. The reason is ImageReader.cs contains the wrong size of table EncLog:
<pre><code>
case Table.EncLog:
case Table.EncMap:
</code>
</pre>
Its size should be changed to 8 bytes:
<pre><code>
case Table.EncLog:
                    size = 8;
                    break;
case Table.EncMap:
</code>
</pre>

[2015-01-21 14:54] jbevain commented on #199
Good catch, thanks!

[2015-01-21 14:56] #199 closed

[2015-01-22 14:04] jbevain commented on #195
Hi,

Can you detail what the issue is for writing?

[2015-01-23 18:25] artcodex commented on #195
The issue is that we are working with a Windows/Windows Phone 8.1 Modern universal application. We have used Mono.Cecil to insert a call into the application so it loads some extra binaries and functionality on startup. It was working fine, but once certain namespaces were included in the application the Mono.Cecil libraries were failing on Writing them out. They were failing because they needed t

[2015-01-26 16:18] jbevain commented on #195
Hi Avi,

Thanks for the details. There's one thing I don't quite get: why don't you set your own resolver to your assemblies ? You can pass your own resolver when reading with:

[code]

Then your custom resolver will be used whenever there's a need to resolve a type, when reading and writing an assembly.

[2015-01-26 17:53] artcodex commented on #195
Hi,

Sorry I thought I had tried that with no success (thought my custom reader only worked during reading), but seems to fix the issue. Sorry for confusion.

On the flip side however do you think at least it would be useful for the DefaultAssembly resolver to look for winmd files, so simple custom resolvers only need to add the directories they want to search, instead of recreating the search log

[2015-01-27 09:55] jbevain commented on #195
The DefaultAssemblyResolver resolves .NET framework assemblies with an implementation.

I think it's better to compose specific needs on top of the default resolver.

[2015-01-27 09:55] #195 closed

[2015-02-16 12:24] bawr opened #200 "InsertBefore puts instructions into the preceeding catch scope"
With IL like:
[code]

Inserting instructions before `IL_0f00` actually puts them in the catch scope, which is unexpected.

I had to resort to a hack which duplicated the instruction, inserted the copy after the target, then inserted my code before the copy, and finally removed the copy or the original instruction.

Still, is this by design? This is a corner case where I would expect `InsertAfter(I

[2015-02-16 14:03] jbevain commented on #200
Hey!

Yeah that's the expected behavior: the user is responsible for maintaining the exception handlers up to his/her wishes. Plus it would be quite a horrible breaking change :)

Jb

[2015-02-16 14:03] #200 closed

[2015-02-16 15:09] bawr commented on #200
Now that you mention it, yeah, it would.

Oh, well, another reason for me to finally go ahead and write my small library on top of Cecil and put it up somewhere. ;)

[2015-02-23 00:53] alexrp opened #202 "Line ending issues in the repo"
In a clean clone of the repo:

    $ git status
    ...snip...
    #       modified:   LICENSE.md
    #       modified:   Mono.Cecil.csproj
    #       modified:   Mono.Cecil.settings
    #       modified:   Mono.Cecil.sln
    ...snip...

This is on a Linux system with default Git line ending settings (`core.autocrlf` and `core.safecrlf`).

[2015-02-23 13:40] jbevain commented on #202
Nice. Note sure what more I'm supposed to do, we're currently configured as:

https://github.com/jbevain/cecil/blob/master/.gitattributes

[2015-02-23 14:47] alexrp commented on #202
Hmm, I think adding `.gitattributes` by itself is not enough, the files also need to have their line endings fixed up. I've opened PR #203 for this.

[2015-02-23 14:58] jbevain commented on #202
Sure it's not enough, that's why I did this https://help.github.com/articles/dealing-with-line-endings/#platform-windows a while ago. But let see with your PR.

[2015-02-23 14:58] #202 closed

[2015-02-24 01:59] pkl728 opened #204 "Mono.cecil.mdb guid mismatch in Xamarin project"
I have a Xamarin project that is using Fody and am getting this error when my TeamCity build server tries to compile it (They suggested this was the right place to submit this issue)

[code]

This works fine on my Windows machine running Visual Studio.  Has anyone seen this kind of thing before?

[2015-02-24 02:00] SimonCropp commented on #204
you will need to upload the binary+mdb that had been built with fody not enabled

[2015-02-24 09:01] jbevain commented on #204
Yep, pretty sure that's not on me. For once :)

[2015-02-24 09:01] #204 closed

[2015-02-24 10:17] SimonCropp commented on #204
so is the problem that the mdb and the dll are out of sync?

[2015-02-24 10:18] jbevain commented on #204
Looks like it, yes.

[2015-02-24 10:19] SimonCropp commented on #204
so bug in xamarin?

[2015-02-24 10:21] jbevain commented on #204
Possibly yes. Can't say for sure what is going on, but this exception can't be mistaken. The mdb and the dll are out of sync here.

[2015-02-24 10:24] pkl728 commented on #204
So uploading my DLL and MDB won't be useful to diagnose?

[2015-02-24 10:27] SimonCropp commented on #204
@pkl728 can share a repro? as in a sln

[2015-02-24 10:31] pkl728 commented on #204
I can try and put something together.  Just the sln file or set up a whole project?

[2015-02-24 10:32] SimonCropp commented on #204
a whole solution with the project

[2015-02-24 10:40] pkl728 commented on #204
Ok I can do that.  It will be a few hours as I'm not around a computer presently.

[2015-02-24 17:14] pkl728 commented on #204
@SimonCropp You can find a replicated repository here:  https://github.com/pkl728/FodyProblem

I've confirmed that this has the same issue as my base project.  When I attach it to my Team City instance I get the following error:

[code]

[2015-02-25 20:13] pkl728 commented on #204
I've verified that if I remove Fody and AsyncErrorHandler.Fody from my project that everything works as expected.  This must be some kind of NuGet issue or something right?

[2015-02-25 20:29] SimonCropp commented on #204
Dont understand how it could be a nuget issue. Do you have the same version of xamarin installed on TC as on your local machine?

[2015-02-25 20:35] pkl728 commented on #204
Client on my TC mac is on latest stable Xamarin, same with my local Windows machine.

[2015-02-25 21:07] SimonCropp commented on #204
ok so not a version thing. i tried your repro and it works on my machine :(

I know @jbevain said it would not help him but can u run your repro on TC with fody disabled and email me the the dll and pdb. simon.cropp@gmail.com

[2015-02-25 21:11] SimonCropp commented on #204
@pkl728 a couple more things

does xamarin have an option to create both a pdb and an mdb at the same time?

Can u confirm u r running release config on both TC and local?

[2015-02-25 23:01] pkl728 commented on #204
I can try and get those for you... Do I need to have it running in Release mode?  My build script is building in Debug mode.

[2015-02-25 23:34] SimonCropp commented on #204
i wanted to rule out differing debug versus release. it should not make a difference but can u try release config on the build server?

[2015-03-05 07:05] RehGina opened #206 "Mono Cecil generates invalid strong names on x64 assemblies"
AnyCPU and x86 assemblies work fine. X64 assemblies strong names are invalid after re-writing

[2015-03-05 07:09] RehGina commented on #206
I am not able to updload a zip here and did not find an alternative to add a zip to this issue. Hopefully this works:

![testproject](https://cloud.githubusercontent.com/assets/11296178/6500646/ba5100aa-c30e-11e4-951e-f2ad3137573b.png)

[2015-03-10 15:38] Skyppid opened #207 "Mono.Cecil corrupts assemblies"
I'm not 100% certain whether this is an issue of Cecil or anything else. But I can't explain it other than this being an issue of Cecil.

I'm using Cecil to inject code into classes' constructor when members are tagged with a certain attribute. This worked absolutely fine for my WPF application. The code calls methods from a static class in a library that is shared among all injected assemblies.

[2015-03-10 16:07] jbevain commented on #207
Are you sure you're not breaking strong names?
What does peverify say on the assembly?

[2015-03-10 16:09] RehGina commented on #207
Yes I am quite sure, in test project I only read the assembly and write it again. Nothing else. I do not inject anything.

Regards Regina

Von: Jb Evain [mailto:notifications@github.com]
Gesendet: Dienstag, 10. März 2015 17:07
An: jbevain/cecil
Betreff: Re: [cecil] Mono.Cecil corrupts assemblies (#207)

Are you sure you're not breaking strong names?
What does peverify say on the assembly?

—
Reply

[2015-03-10 16:13] jbevain commented on #207
Reading and writing again is enough to break a strong name if the assembly is signed.

I'm afraid there's not much I can do without a self-contained repro showing what the issue is.

[2015-03-10 19:16] Skyppid commented on #207
I do not yet use strong names. I once signed all assemblies until I noticed that this causes troubles and that I need to first implement some additional code for my injector, so that Cecil signs them again.

Has it to do with the fact, that I do change assemblies which are referenced by each other? Could this break anything and do I therefore need to fix the references after each assembly I change

[2015-03-11 04:47] leppie commented on #207
@Skyppid What does PEVerify say before and after writing the assembly?

[2015-03-11 08:23] RehGina commented on #206
![cmd](https://cloud.githubusercontent.com/assets/11296178/6592563/53da9c98-c7d0-11e4-861e-24e90be3cbf2.png)

[2015-03-11 08:24] RehGina commented on #206
Output of PEVerify and SN tool.
As I already wrote. Reading and writing of signed 64 bit assembly is enough. I do not inject any code in this test project

[2015-03-11 08:26] RehGina commented on #207
Sorry I believe I added my comment to the wrong issue...

[2015-03-11 09:11] leppie commented on #206
The problem is that you still refer to SampleAssembly.dll in the module name, so the loader will load that file if available or throw FileNotFound if not. Either way, it is not desired behavior IMO.

[2015-03-11 10:37] RehGina commented on #206
I do not really understand your post. I start the test project via command line arguments in VS and I do not see why I should rename the sample assembly to something else. Did you download the test project and compiled it?

[2015-03-11 10:44] leppie commented on #206
Yes I did. If you rename TracedAssembly.dll to SampleAssembly.dll, everything will work too.

[2015-03-11 11:35] RehGina commented on #206
No, it will not. Thats exactly, what I did before. I only saved it under a different name to not need to recompile the assembly every time you start injector. In productive code we replace the assembly with the injected one. I tried both. After writing the signed 64 bit assembly the strong name is invalid!

[2015-03-11 11:46] RehGina commented on #206
As you can see: Renaming does not change anything
![cmd2](https://cloud.githubusercontent.com/assets/11296178/6595664/b33f1832-c7ec-11e4-8385-9e771ba46331.png)

[2015-03-11 12:14] leppie commented on #206
Ahh, that last screenshot says it all. I get the same.

[2015-03-11 12:25] leppie commented on #206
If you compare the IL, everything seems to be the same except for `.imagebase` (and MVID). Not sure if that has something to do with it.

[2015-03-11 12:29] RehGina commented on #206
It works on x86 assemblies and AnyCPU assemblies. Independent on how the tool itself has been compiled. I debugged already into the code and found the code which does the strong naming, but without spending a lot of time to understand whats going on there with byte arrays and such stuff, I do not feel self enabled to fix this bug. Thats why I would appreciate the help of the author very much.

[2015-03-11 12:37] leppie commented on #206
I agree, something is fishy here. Try build Mono.Cecil from source and see if it was not fixed. The versions on Nuget are pretty old!

[2015-03-11 12:39] RehGina commented on #206
I already did this. I downloaded the master branch and compiled it myself in AnyCPU and x64. No change.

[2015-03-11 12:50] leppie commented on #206
:+1:

[2015-03-11 13:40] Skyppid commented on #207
The entry-assembly (executable) gets first validated successfully without any errors or issues. The DLL I inject has 138 errors in the first place due to PostSharp and obviously the async-methods. But the whole application works fine, just tokens that cannot be found.

Once I inject, the executable is corrupt and PEVerify says just:

That's all I get. Even with verbose I don't see any more informa

[2015-03-11 15:13] jbevain commented on #207
@Skyppid any chance you could upload the binary (or send it to me privately) so I can investigate. This indeed looks like an issue on Cecil's side.

Thanks!

[2015-03-11 16:25] Skyppid commented on #207
I just sent you an e-mail containing both the pre-injected and injected assemblies and detailed information. Thank you!

[2015-03-16 12:54] RehGina commented on #206
@jbevain Did you already have a look at this issue. My tool is lying on ice until this bug is fixed. I spend so much time on it and it is so frustrating I cannot complete it :-(

[2015-03-17 10:23] jbevain commented on #206
I have not: I'm just back home after a two weeks business trip abroad.

That being said:

* Cecil is open source and you can investigate and fix the issue.
* You can always contact me privately to discuss commercial support otherwise.

[2015-03-17 10:46] asbjornu opened #208 "Support for AssemblyFileVersion and other PE header fields"
Currently, adding `AssemblyFileVersionAttribute`, `AssemblyCopyrightAttribute` and other attributes that affect the PE header of an MSBuild generated `.dll` file (as can be inspected in the "Properties" dialog in Windows Explorer), have no effect in Cecil. I can see that [this was discussed in September 2006 on mono-devel-list](http://lists.ximian.com/pipermail/mono-devel-list/2006-September/02065

[2015-03-17 10:51] SimonCropp commented on #208
so similar to this https://github.com/gluck/cecil/commit/7a4cdab9f94f7065ec741e230d7a82c6819a92db  ?

[2015-03-17 10:53] jbevain commented on #208
Those are «fake» attributes. They're used by the compiler to generate win32 resources.

@SimonCropp yes, except that this particular information is at a higher level, as you need to know how to read the resource entry.

[2015-03-17 10:54] jbevain commented on #208
This is basically a dupe of #3 :)

[2015-03-17 11:00] asbjornu commented on #208
@jbevain Great. I had a look at that, but didn't realize that you were talking about the same thing as "PE header" wasn't mentioned anywhere. :smile:

[2015-03-17 11:27] jbevain commented on #208
Yeah those are not stored in the PE header :)
They're win32 resources, stored in the .rsrc section.

[2015-03-17 12:44] asbjornu commented on #208
Aha. This can just be closed then, I guess. :)

[2015-03-17 12:44] #208 closed

[2015-03-19 09:58] jbevain commented on #207
@Skyppid, thanks! I've had a look at the assemblies, and I'm not sure the issue is on Cecil's side.

Let's take Pre-Injection/VisualBug.Satellite.dll

After injection you get a:

But if I only Read and Write the assembly with Cecil it verifies just fine.

Which leads me to think that stuff you're injecting is incorrect, and triggers invalid metadata.

Another example, when verifying VisualBug.Lab.

[2015-03-19 13:28] jbevain commented on #206
Workaround while I investigate this: you can re-sign your assembly using the sn tool.

It goes like this:

* Inject code and sign with Cecil
* resign with sn -R Assembly.dll KeyPair.snk

[2015-03-19 14:37] #206 closed

[2015-03-19 20:11] RehGina commented on #206
Thank you very, very much for this fix. I would have never found it. (y)(y)(y)

[2015-03-20 21:34] jbevain commented on #137
Duplicate of #90.

[2015-03-20 21:34] #137 closed

[2015-03-20 21:34] jbevain commented on #196
Fixed. Thanks!

[2015-03-20 21:34] #196 closed

[2015-03-20 21:36] jbevain commented on #152
Cecil can read PCL assemblies.

The DefaultAssemblyResolver is designed to resolve to actual framework assemblies providing IL.

We could have a collection of resolver for reference assemblies on Windows though.

[2015-03-20 21:36] #152 closed

[2015-03-21 20:00] akoeplinger opened #209 "Unit test failures on Mono"
Just tried running the unit tests on Mono 3.12 and got the following failures, are these tests supposed to pass on Mono?

[code]

[2015-03-21 21:46] jbevain commented on #209
Hey, thanks for the heads up.

* 1-3-4: That looks like a bug in Mono's verifier. It should probably allow for other machine kind than x86.
* 2: That looks like a bug in the test, it shouldn't run on Mono.
* 5: That looks like a bug in the test, emitting incorrect IL.
* 6: That looks like a Mono ilasm bug, which is not declaring the interfaces in the same order as .NET's would.
* [7:11]: That's ve

[2015-03-21 22:26] akoeplinger commented on #209
Great, let me know if there's something I can help with.

[2015-03-21 22:29] jbevain commented on #209
07aa84baf9f99730d05237fc7c791069dc616a89 should fix 2 and [7-11].

[2015-03-24 14:14] jbevain commented on #209
da480ca7a97b84aede98c27726b1ccfb5c4ef5d3 should fix 1-3-4.

[2015-04-02 08:12] xen2 commented on #162
Any update and/or way to help on this issue?

This is quite critical for us, as it makes debugging most async functions almost impossible.

[2015-04-04 09:24] jogibear9988 commented on #162
Why do the rewritten PDBs not mach the Code? Are the internals of the PDBs not known, or are there issues in the Code? Can't we use roslyn in any way to generate the PDBs?

[2015-04-29 17:09] matthid opened #210 "Nuget package (0.9.6.0) wrong folder."
Currently Mono.Cecil is build for TargetFramework 4.5.1 but it is packaged in the "net45" folder. This just caused a bit of havoc while updating (had to update the project to 4.5.1).
Please either move to "net451" or build for "net45"...

[2015-04-30 09:37] jbevain commented on #210
Good catch! I'll push an updated package.

[2015-04-30 15:11] jbevain commented on #210
Push a 0.9.6.1 nuget which builds on v4.5. Thanks!

[2015-04-30 15:11] #210 closed

[2015-04-30 15:39] matthid commented on #210
Nice, thanks for the quick fix!

[2015-05-04 12:06] #207 closed

[2015-05-04 12:09] jbevain commented on #153
Closing this as it's a dup of #90.

[2015-05-04 12:09] #153 closed

[2015-05-04 12:11] jbevain commented on #162
Closing as it's a dup of #90 where we're tracking the issue.

[2015-05-04 12:11] #162 closed

[2015-05-04 12:14] jbevain commented on #90
There's a few issues at hand here. Round-tripping pdb files makes it so that we're losing some of the «custom metadata» of the pdb.

The plan to fix that I'm working on is as follows:

https://groups.google.com/forum/#!topic/mono-cecil/VSGWjgwDC7Y

I'm slowly putting more and more work into Cecil after an intense period of professional activity.

If a company using Cecil wants to speed things up,

[2015-05-05 04:05] kant2002 opened #211 "Unknown custom metadata item with latest Roslyn release"
When reading the PDB file generated by Roslyn following exception generated

[code]

[2015-05-05 04:21] SimonCropp commented on #211
what version of cecil?

can you upload the offending binary and pdb somewhere?

[2015-05-05 04:49] kant2002 commented on #211
Version 0.9.4 and 0.9.5 both produce same results. I working on create minimum viable library for testing.

[2015-05-05 04:50] SimonCropp commented on #211
the current released version is 0.9.6.1 can you try that http://www.nuget.org/packages/Mono.Cecil/0.9.6.1

[2015-05-05 04:57] kant2002 commented on #211
I just update to 0.9.6.1 and this was fixed. Thanks.

[2015-05-05 04:57] #211 closed

[2015-05-05 04:57] SimonCropp commented on #211
no worries :)

[2015-05-09 17:52] csnemes opened #212 "AssemblyWriter throws NullReference exception when version part of the AssemblyNameReference is null"
During module Write the AssemblyWriter.AddAssemblyReferences method throws NullReference exception when tries to access version components (e.g. version.Major) if the version is null. I use a handcrafted reference and the constructor of the AssemblyNameReference class allows null as version argument, so I thought I can get away with null version. This issue is a bit similar to #51 but in a differe

[2015-05-11 09:15] jbevain commented on #212
That's a good catch, thanks!

[2015-05-11 12:30] #212 closed

[2015-05-11 21:34] vbfox opened #215 "Can't roundtrip FSharp.Core.dll"
Using Cecil `FSharp.Core dll` can't be loaded and saved again (At least for version 4.3.1 of the dll)

The code throw `NotImplementedException` with a stacktrace of :

[code]

The problem seem to be due to the usage of `methodhandleof ` in https://github.com/fsharp/fsharp/blob/master/src/fsharp/FSharp.Core/Query.fs#L363 generating code looking like that in ILDasm :

[code]

The current code seem t

[2015-05-12 11:48] jbevain commented on #215
Hey @vbfox, is this with 0.9.6 or on master?

[2015-05-12 11:51] jbevain commented on #215
Also, can you upload the DLL somewhere so I'm sure we're talking about the same one?

[2015-05-12 11:57] vbfox commented on #215
I tried the NuGet version and was master I think.
But I also tried the version from https://github.com/gluck/il-repack so i'll need to double-check.

I'll try with a clean build from master tonight and upload a test project if I reproduce.

[2015-05-12 12:06] jbevain commented on #215
Yeah I can't repro here with the current master de60c2a129dacdec0f09fdf3e97b767fe819b6b3 and FSharp.Core.dll 4.3.1 from my GAC.

[2015-05-12 12:15] jbevain commented on #209
@akoeplinger hey can you run them again on the current master?

[2015-05-12 12:31] akoeplinger commented on #209
@jbevain I get only these three failures now on Mono 4.0.1:

[code]

Interestingly, running the tests on the latest Mono master snapshot from yesterday, two more tests fail:

[code]

I'm not sure why it's hitting the NotImplementedException in MemberInfo.get_Module, since that is now taken from referencesource.

[2015-05-12 12:46] jbevain commented on #209
Thanks for the update @akoeplinger.

The NIE on Mono seem pretty serious: it should definitely not throw :)

[2015-05-12 12:51] akoeplinger commented on #209
yeah, looks like the only way it can happen is if `this is Type` is false here: [memberinfo.cs#L78](https://github.com/mono/referencesource/blob/9906ab9bf34d1e787e09f34e8f45bd75ae3ee68c/mscorlib/system/reflection/memberinfo.cs#L78)

[2015-05-12 13:08] jbevain commented on #209
ResolveFieldDefinition calls get_Module on a FieldInfo instance. So this is definitely not a Type. But why are we not dispatched to FieldInfo.get_Module :)

[2015-05-12 13:29] jbevain commented on #209
@akoeplinger well here you go, MonoField never overrides get_Module.

The custom RuntimeFieldInfo should override get_Module:

https://github.com/mono/mono/blob/master/mcs/class/corlib/System.Reflection/MonoField.cs#L46

In the same way that the custom RuntimeMethodInfo overrides it for a MonoMethod.

[2015-05-12 14:17] akoeplinger commented on #209
So basically https://github.com/mono/mono/commit/1396b52d9672df3b69a8e3f6b0166255ba653e19 but for MonoField?

[2015-05-12 14:53] jbevain commented on #209
Yep: https://github.com/mono/mono/pull/1794

[2015-05-12 19:15] vbfox commented on #215
Verry sorry to have bothered you.

I checked against master and can't reproduce all `FSharp.Core.dll` that I have in my GAC roundtrip correctly.

As I loaded all assemblies from a folder I think that I forgot to double check the assembly file creating the problem, it was in FSharp.Core code, but not in the real dll. It was in a version merged via ILMerge with other assemblies.
And it seem that ILM

[2015-05-12 19:15] #215 closed

[2015-05-13 07:03] jbevain commented on #215
No worry, thanks!

[2015-05-25 20:50] rprouse commented on #146
@jbevian, we are considering using Cecil in NUnit 3 to help with exploring and executing tests. We were hoping for a PCL version to help target Xamarin and other platforms with a single codebase.

I haven't gone very deeply down this track, but I wanted to let you know of our intentions so we can coordinate if you decide to look at this again. I have forked the repo over to the nunit org and will

[2015-05-26 10:53] jbevain commented on #146
@rprouse there's the [pcl branch](https://github.com/jbevain/cecil/tree/pcl).

[2015-05-26 13:22] rprouse commented on #146
@jbevain, thanks. I pulled it last night and merged latest from master. I will experiment with it in nunit tonight.

[2015-05-26 20:34] kzu opened #216 "Allow upstream consumers to override build settings."
Projects consuming and distributing Cecil in environments they
don't control (i.e. an addin inside VS or XS) risk having the
environment load an incompatible version of Cecil from another
addin or location (depending on the process/domain configuration
and the probing paths set up for the host).

To shield from this issue, XS has forked Cecil, changed its
assembly name and signing key, and now it

[2015-05-27 19:31] #216 closed

[2015-06-01 15:26] jbevain commented on #209
@akoeplinger can I trouble you to run the tests once more?

[2015-06-01 15:51] Zenexer opened #225 "Calling System.Reflection.Assembly.GetName() on resulting assembly fails"
Worked with an older version of Cecil; no longer working.

After loading an assembly, making some minor modifications, and writing it to a file, the result appears to be unusable.  Calling `Assembly.LoadFrom(path).GetName()` throws a `System.Globalization.CultureNotFoundException`.  The "problematic" culture is `neutral`.  There isn't any specific culture info associated with the assembly.  Does t

[2015-06-01 15:53] jbevain commented on #225
Ah good catch. That's probably due to today's 0acff1c6966071e1fac9fa70983c75f27542c4cc, so we're lacking a test here.

Thanks for the heads up!

[2015-06-01 16:38] jbevain commented on #146
Moving this discussion in #220.

[2015-06-01 16:38] #146 closed

[2015-06-01 23:38] Zenexer commented on #225
Thanks, I'll give the fix a test run later tonight.

[2015-06-02 10:05] akoeplinger commented on #209
@jbevain works fine now, thanks :) nice to see you adding Travis, I'm one of the community maintainers for C# there, so just ping if you have questions or run into problems.

[2015-06-02 10:05] #209 closed

[2015-06-10 23:06] saper opened #228 "Mono.Cecil.Tests/TypeTest.cs: No definition for `Single` (building with Mono from git master)"
When using Mono from git master I am getting this:

[code]

This seems to be caused by this commit:

[code]

[2015-06-11 07:00] jbevain commented on #228
Good catch. This should only happen when building for net_2_0. As a workaround you can simply select a newer configuration profile.

[2015-06-11 07:17] saper commented on #228
Yep, `xbuild /p:Configuration=net_4_0_Debug` works without reverting this change.

[2015-06-11 07:56] jbevain commented on #228
Also note that I'm about to remove the support for .NET 2.0. You'll need at least .NET 3.5.

[2015-06-11 08:33] #228 closed

[2015-07-18 22:22] erik-kallen opened #232 "Deferred reading of mscorlib fails"
Of these tests, the first one fails:

	[Test]
	public void TestThatFails() {
		var asm = AssemblyDefinition.ReadAssembly (typeof(object).Assembly.Location, new ReaderParameters(ReadingMode.Deferred));
		var obj = asm.MainModule.TypeSystem.Object;
		Assert.IsInstanceOf <TypeDefinition>(obj);
	}

	[Test]
	public void TestThatPasses() {
		var asm = AssemblyDefinition.ReadAssembly (typeof(object).Asse

[2015-07-20 08:06] jbevain commented on #232
Good catch, thanks!

[2015-07-21 09:13] rouen-sk opened #233 "NullReferenceException in GetNestedType"
In Xamarin Android applications, Mono.Cecil is used for linking. If the assemblies are obfuscated with CryptoObfuscator for .NET first, I get this error in build:

The "LinkAssemblies" task failed unexpectedly.
System.NullReferenceException: Object reference not set to an instance of an
object.
   at Mono.Cecil.Mixin.GetNestedType(TypeDefinition self, String name)
   at Mono.Cecil.TypeParser.TryGe

[2015-07-21 09:55] jbevain commented on #233
I don't maintain Xamarin.Android, so I can't help with that part. I can however fix the NRE :)

Is there any chance you could upload the obfuscated binary?

[2015-07-22 14:32] jbevain commented on #233
Fixed in 3723f62e1a68e27338490483dea387c02110049f. Thanks!

[2015-07-22 14:32] #233 closed

[2015-07-22 15:17] #232 closed

[2015-07-22 15:58] tostiheld opened #234 "ArgumentException on writing module"
I'm trying to inject some CIL instructions in an assembly, and on writing the module i get an argumentexception.

My code:
[code]

The stack trace:
[code]

I'm still experimenting with how to do this the best way, but i believe this exception does not belong here. Depending on which instrunctions in the list i add i get some more exceptions, but i think that's my own fault.

[2015-07-22 16:06] jbevain commented on #234
Hey! Is the module roundtripping correctly if you only read+write without modification?

[2015-07-22 16:12] tostiheld commented on #234
I think it is. I get no exception when i do that and i can normally execute the unmodified written module.

[2015-07-22 16:14] jbevain commented on #234
I'm going to need a way to reproduce this :) Any chance you could share the project?

[2015-07-22 16:28] tostiheld commented on #234
sure, here you go: <https://github.com/tostiheld/packager/tree/bb217c38b731bb0d3a7c6af8f72d67155493fa7c>

The above code resides in Program.cs in the "packager" project. You can ignore the "target" project. The "testapp" project is a simple target to test on for now. It is now empty, but the C# equivalent of the CIL instructions i'm trying to inject used to be in there.

Off topic question: what i

[2015-07-27 19:28] jbevain commented on #234
Upon investigating, it appears the issue is in your code.

[code]

You can not take a MethodDefinition from one module and add it to a type in another module.
That would usually throw an exception, but it doesn't as you set its declaring type beforehand.

The way to achieve this is to recreate a MethodDefinition in the target module with the same IL, but it can be quite complex.

The best way to g

[2015-07-27 19:28] #234 closed

[2015-07-30 14:09] #225 closed

[2015-08-01 00:46] jogibear9988 commented on #193
Is it possible to get your Experimental Code ?

[2015-08-07 09:04] GregRos opened #235 "Make the Instruction constructor public"
I find it rather annoying that the constructor `Instruction (OpCode, object)` isn't publicly visible. If you're not hand-coding additional instructions but getting them from another source (like another assembly), using the dedicated `Instruction.Create` methods that have strongly typed arguments and perform various checks just makes things needlessly difficult, forcing you to write complex switch

[2015-08-07 09:05] SimonCropp commented on #235
i have hit this one as well

[2015-08-26 17:02] poizan42 opened #236 "Round-trip should be possible without resolving any references"
There's no reason that simply reading a module and writing back a module should need to resolve anything, yet it does. It's frustrating and pointless that you need to be able to locate referenced assemblies just to make a change as small as flipping a bit (literally what I were doing when I hit this problem; setting IsWindowsRuntime true on a reference).

I don't really have a good overview on the

[2015-08-27 09:21] jbevain commented on #236
Hi Kasper,

You wouldn't believe how much I'd like this to be true and how much I tried to make it so. But it's not the case. You can grep the source for the usage of CheckedResolve, there's exactly two cases where Cecil needs to resolve a TypeRef to write it properly:

* When you have a const field with a TypeRef to an enum.
* When you have a custom attribute instantiated with a TypeRef to an enu

[2015-08-27 13:31] poizan42 commented on #236
Why do we need the size of each parameter if we are just copying all of them? We do know the length of the CustomAttrib blob, so we can just copy that as-is even if we don't know what exactly it means.

[2015-08-27 13:52] jbevain commented on #236
If you don't access the custom attribute values, it should be copied as is, using its byte[] blob. If you do, we'll need the size to properly write it back.

We're not doing that for constants. It could be done though, but you say you're seeing the resolve request from ReadCustomAttributeEnum.

[2015-08-27 15:16] poizan42 commented on #236
Apparently it isn't, not always at least.

Steps to reproduce:
* Create a F# class library project named "AttrFS".
* Add the "FSharp.Core for F# 4.0" nuget package version 4.0.0.1 to the F# project. (More specifically make sure you are using a version of FSharp.Core that isn't in the GAC).
* Add the following file to the F# project:
[code]
* Create a C# project referencing Mono.Cecil with the foll

[2015-08-27 15:28] jbevain commented on #236
Nice! Any chance you could upload a pre-built AttrFS.dll for me somewhere?

[2015-08-27 15:31] poizan42 commented on #236
lzma compressed and base64 encoded:
[code]

[2015-08-27 15:36] jbevain commented on #236
Cool, and good catch.

From what I can tell that's a regression introduced by b84a79789c0ec30e1c74a24ed8640a547fb38c19.

It used to be the case that the ImmediateModuleReader would not resolve CustomAttribute, as we support writing them back unresolved.

But then in the ModuleWriter we're using the ImmediateModuleReader to read the assembly into its object model before writing it back.

The fix is

[2015-08-28 08:20] jbevain commented on #236
That should be fixed in master.

I'll see about using the same pattern for constants. That should prevent any resolution if you don't access the custom attributes or the constants.

[2015-09-01 13:12] jbevain commented on #236
@poizan42 do you confirm the fix?

[2015-09-01 18:52] poizan42 commented on #236
Yup, LGTM

[2015-09-14 07:19] LiangChow opened #239 "Can't access extension methods"
Hi,
I Can't access extension methods (e.g : IsVarArg, GetSentinelPosition)
Please see the following error.

Severity	Code	Description	Project	File	Line
Error	CS0122	'Mixin.IsVarArg(IMethodSignature)' is inaccessible due to its protection level	ConsoleApplication1	C:\Users\Liang\Downloads\Compressed\cecil-master\ConsoleApplication1\Program.cs	19

[2015-09-15 14:51] jbevain commented on #239
Hi!

Yeah that's pretty much expected :) I don't feel comfortable making those public.

Thanks!

[2015-09-15 14:51] #239 closed

[2015-09-15 20:58] SimonCropp opened #240 "the READ_ONLY compilation constant is broken"
Not sure if this is still meant to work??

If not do u want a PR to remove the noise?

[2015-09-16 07:41] jbevain commented on #240
Hey Simon,

It's meant to work :)

I suspect the PCL work I did broke it. Thanks for the heads up!

[2015-09-24 08:20] saynomoo opened #241 "System.ArgumentException: An element with the same key already exists in the dictionary"
When building a project with unity 5.2, the following error is thrown:

[code]

The error comes after adding some perfectly working c# code, and might go away if something else is then removed. In an example case the code contains a lot of repetitive code like:

[code]

and in another script
[code]

The dll that is causing the problem can be found from: https://drive.google.com/file/d/0B4aQVGXLmlP

[2015-09-24 08:33] saynomoo commented on #241
The same error is thrown with the cecil built from master

[2015-09-24 14:36] jbevain commented on #241
Thanks for the repro, much appreciated!

[2015-09-24 14:36] jbevain commented on #241
Thanks for the repro, much appreciated!

[2015-09-29 07:44] saynomoo commented on #241
No problem. Is there any way I can further help to solve the issue? It is currently a blocker for us..

[2015-09-29 14:17] jbevain commented on #241
@saynomoo it looks like the assembly is obfuscated. Do you use any asset to obfuscate Unity compiled scripts?

[2015-09-30 06:28] saynomoo commented on #241
Not from our behalf, no. I'm not that familiar with the Unity pipeline, so I don't know where the obfuscation comes from. If it helps, I can publish the whole project.

[2015-09-30 07:13] saynomoo commented on #241
The project that produces the error can now be found from here: https://github.com/saynomoo/unetweaver_error

[2015-09-30 11:35] jbevain commented on #241
Thanks! That's indeed quite curious. The assembly looks bonkers and I don't know why yet. Possibly caused by bugs in Unity's C# compiler. Could be worth extracting the faulty code to a dll in the meantime.

[2015-09-30 12:18] jbevain commented on #241
I've had a deeper look at the issue using your repro project (thanks!).

Unity's C# compiler gets indeed confused by some code constructions (apparently related to UnityRX in this case). Removing faulty code gets a perfectly valid assembly.

I've fixed a few exceptions in Cecil triggered by the assembly, but there's only so far I can do with a broken assembly. In that case, the bug comes from the

[2015-09-30 12:18] #241 closed

[2015-10-02 06:04] saynomoo commented on #241
Thank you so much for taking the time to look in to the issue. And sorry for the false alarm.

[2015-10-02 08:57] jbevain commented on #241
@saynomoo :bow:

[2015-10-07 09:57] MainMa opened #242 "Make exception messages in `Instruction.Create` less cryptic"
The exceptions thrown by `Instruction.Create` are a bit too cryptic. For instance, the following code:

    Instruction.Create(OpCodes.Ldarg_S, 4);

will throw [the following exception](https://github.com/jbevain/cecil/blob/8b689ecdc890cbf3715ba8775de1d713d71f09f3/Mono.Cecil.Cil/Instruction.cs#L231):

    opcode

Unless one looks at the source code, there is absolutely no way to determine what is

[2015-10-11 18:11] YaakovDavis opened #243 "MethodReference.HasThis returns wrong value"
When getting MethodReference.HasThis on an unresolved instance property getter reference, the result value is false.

When resolving to MethodDefinition, the value is true.

Is there a way to get a correct result without resolving?

[2015-10-11 18:44] YaakovDavis commented on #243
Nevermind, it was an issue in my code.

[2015-10-11 18:44] #243 closed

[2015-10-22 17:17] NArnott opened #244 "DllImportAttribute TypeReference Skipped"
When I call `AssemblyDefinition.ReadAssembly(stream)` on an assembly that uses `DllImportAttribute` and then `module.GetTypeReferences()`, for some reason `DllImportAttribute` in particular is not listed.  It also does not show up in any of the `MethodDefinition.CustomAttributes` for the methods that `DllImportAttribute` was applied to.

As a side note, I'm concerned that if this attribute is gett

[2015-10-23 08:21] jbevain commented on #244
Hey @NArnott!

That's because DllImportAttributes are not really attributes :) They're compiled not as a custom attribute but they have their special encoding. .NET Reflector transforms that back to an attribute when decompiling to C#.

You can check that a MethodDefinition is a pinvoke through the property `HasPInvokeInfo` and if so, access it with the property `PInvokeInfo`.

[2015-10-23 08:21] #244 closed

[2015-10-23 13:42] NArnott commented on #244
Good to know.  Thanks for the solution.

[2015-10-23 13:45] jbevain commented on #244
🙇

On Fri, Oct 23, 2015 at 6:42 AM -0700, "Nathan Arnott" <notifications@github.com> wrote:

Good to know.  Thanks for the solution.

—
Reply to this email directly or view it on GitHub.

[2015-11-02 13:49] ignas2 opened #246 "InterfaceImpl custom attributes are not exposed"
Custom attributes can be applied on interfaces a type implements explicitly. That's not allowed in C# but is in CLI specs. Sure, it's not very common but can be found in Windows Metadata assemblies. One such example is Windows.Foundation.Metadata.DefaultAttribute.

I have added support for this feature in my branch (https://github.com/ignas2/cecil/tree/ifaceimplca). However it's not backwards comp

[2015-11-05 16:48] jbevain commented on #246
Hello Ignas,

Thanks for raising the issue, that's indeed something I have noted.

Note that the issue is not specific to interface implementations, as a CustomAttr record can target many different types of tables. Windows Metadata also uses custom attributes on TypeRef for instance.

As you noted, your suggested change is very much a breaking change :)

My initial thoughts was to expose methods o

[2015-11-05 17:56] ignas2 commented on #246
That would definitely work but it doesn't fit nicely with the reset of APIs. If I didn't know better I would be confused myself why I need to access certain attributes in different ways. So I'd rather see a breaking change but this is still better than no access at all.

[2015-11-17 10:00] zetanove opened #248 "Renaming type namespace doesn't update nested type fullname"
the following test fails:

[code]

the workaround is to reset nested Namespace to null to force Fullname update.

[2015-11-18 19:33] ignas2 commented on #246
Do you have an example where custom attribute is applied to type reference? I can create one myself with IL but I'd like to see a real world case.

[2015-12-22 16:39] user1568891 commented on #90
Any progress on this? I've always wondered why the watch and immediate window never worked properly on my project that uses Fody. Finally found the answer on [StackOverflow] (http://stackoverflow.com/a/9494198/1568891) that sent me here.

[2015-12-23 08:06] DavidKarlas opened #252 "PortablePdb support(Roslyn cross-platform debugging symbols file format)"
Hi all,

PortablePdb format seems pretty final at this point...

@jbevain I assume you don't have any short term plans to add support for this?

@tmat Since Mono.Cecil is major library in .Net world & used by many projects involved in IL manipulation which also need debug symbols manipulation to be there, are you or anyone else from Roslyn team considering contributing this to Mono.Cecil?

@tmat i

[2015-12-23 08:20] tmat commented on #252
Re reader/writer: System.Reflection.Metadata. Currently has just reader, we are working on moving a writer there from Roslyn (see https://github.com/dotnet/roslyn/pull/6634).

[2015-12-23 08:28] tmat commented on #252
Re Microsoft.DiaSymReader.PortablePdb -- this is just a bridge to support legacy apps that use ISymUnmanagedReader interfaces. I'd rather see Cecil reading the data directly or even better using System.Reflection.Metadata to do so.

[2015-12-23 08:31] tmat commented on #252
Re contribution to Cecil -- not currently mainly due to lack of resources. If @jbevain would be ok with porting Cecil "backend" to System.Reflection.Metadata then, among other benefits, adding support for Portable PDB would be trivial.

[2016-01-05 12:36] drauch commented on #90
Had to learn it the hard way also: https://stackoverflow.com/questions/34267811/vs2015-linq-in-debugger-watch-window

Would be nice if there is any follow-up on this :+1:

[2016-01-05 16:26] xen2 commented on #90
FYI, started to work on it again yesterday.
Promising results so far, hopefully a patch within a few days.
@jbevain, can you confirm that you didn't work on it yet so as to not overlap? (according to https://groups.google.com/d/topic/mono-cecil/VSGWjgwDC7Y/discussion)

[2016-01-05 16:28] user1568891 commented on #90
Thanks!

[2016-01-05 18:45] drauch commented on #90
@xen2: Thank you for your time! :+1: Please let us know if we can help, e.g. testing, ...

[2016-01-06 09:56] xen2 commented on #90
@drauch If interested, you can cherry-pick 214b1a69a2d87d8cf64edca0d214f7816395de24 (early testing version, still various things to improve/cleanup/fix).

[2016-01-07 02:53] xen2 commented on #90
Quick update, 455f850 should be very close to final.

Only thing I wasn't really sure of, is why I need to sometime use offset and sometimes offset + 1 for my iterator scope end, but it seems to work as is.

The cool thing is I didn't do only the async locals but I also added support for many other PDB info:
- Using clauses (before `typeof(Console)` was broken in VS Watch window even when `using S

[2016-01-07 09:25] davidroth commented on #90
@xen2 Cool! Thx for the fix!
I have just quick tested it with Fody and works very well so far!
Very nice to have full debugging support back :)

@SimonCropp Would be cool if you could upgrade fody with this patched lib once it is tested.

[2016-01-07 09:35] SimonCropp commented on #90
@davidroth yep timezone pending it will take me a couple of hours to apply and regression test. Just tell me when to start workiing on it.

[2016-01-11 11:30] davidroth commented on #90
@SimonCropp No problems found so far, everything is working fine :+1:

[2016-01-11 11:32] SimonCropp commented on #90
@jbevain have u had a chance to review this?

[2016-01-11 16:59] jbevain commented on #90
@SimonCropp, I haven't yet. Have you run your test suite on it?

[2016-01-18 00:29] #240 closed

[2016-01-18 00:50] #248 closed

[2016-01-18 02:30] SimonCropp commented on #90
@jbevain currently travelling. will get to it withing the week

[2016-01-18 08:24] SimonCropp opened #253 "Make appveyor output nuget assets"

[2016-01-18 08:25] SimonCropp opened #254 "Auto deploy from master to nuget"
I would be happy if master passes the unit tests it was autodeployed to nuget

[2016-02-03 22:49] user1568891 commented on #90
Any update on this? Really looking forward to this fix.

[2016-02-14 09:19] SimonCropp commented on #90
@jbevain  i can confirm this passes all my smoke tests https://github.com/xen2/cecil/tree/pdb_roundtrip

really sorry for the delayed reply

[2016-02-29 08:46] Licshee opened #262 "PCL is still not supported"
no news since #220 ?

[2016-02-29 16:52] jbevain commented on #262
@Licshee it's supported in master, it hasn't been released as a nuget though.

[2016-03-01 03:06] Licshee commented on #262
just to make sure: does that mean it's still not guaranteed to run for PCL/cross-platform?

[2016-03-02 02:48] Licshee commented on #262
I mean, is using Cecil in PCL as safe as running on .NET Framework ATM?

[2016-03-02 16:44] jbevain commented on #262
It should work, yes. Let us know if it doesn't :).

[2016-03-02 16:44] #262 closed

[2016-03-07 20:57] SimonCropp commented on #90
@jbevain is there anything else you need from me on this one?

[2016-03-10 11:43] mrexodia opened #264 "System.InvalidCastException in Mono.Cecil.MetadataBuilder.GetConstantSignature"
[code]

Built with the latest commit.

I believe the offending line is https://github.com/jbevain/cecil/blob/master/Mono.Cecil/AssemblyWriter.cs#L1915 (AssemblyWriter.cs:1915), however I have no clue about the codebase so I don't really know what this line is supposed to do or how to debug it. Unfortunately I cannot share the assembly, but please tell me if I can do something to assist.

[2016-03-10 11:51] mrexodia commented on #264
Here is a screenshot of the field that causes this exception (the binary in question is obfuscated):

![img](http://i.imgur.com/d1Ujgck.png)

[2016-03-10 17:07] jbevain commented on #264
Obfuscators  ¯\_(ツ)_/¯

Thanks for the report.

[2016-03-10 17:20] mrexodia commented on #264
I switched to dnlib in the meantime, there it works fine. I'm not sure but
maybe the casting shouldn't depend on the type of the field? I saw that
right after it converts it back to a byte array so maybe this can be done
in a more direct way?
On Thu, 10 Mar 2016 at 18:07, Jb Evain <notifications@github.com> wrote:

[2016-03-23 03:17] ElementalVenom opened #265 "Not injecting a OpCOdes.Ret"
So I am injecting a thing that in c# would be
`if(!MethodThatReturnsABool()){
        return;
}
`
the actual list of IL instructions is
`
                    Instruction SCIL1 = updateMethod.Body.GetILProcessor().Create(OpCodes.Ldarg_0);
                    Instruction SCIL2 = updateMethod.Body.GetILProcessor().Create(OpCodes.Ldstr, "SteamChannel");
                    Instruction SCIL3 = updateMe

[2016-03-23 15:57] jbevain commented on #265
Hi,

I'm afraid it's impossible to tell from this if this is an actual issue in Cecil or in your code. Please use the mono-cecil Google Group for questions / discussions, and the GitHub issues for actual bug with repros.

Thanks!
Jb

[2016-03-23 15:57] #265 closed

[2016-04-01 21:06] user1568891 commented on #90
Is there anything I can do to help with this?

In the mean time, can anyone post instructions for putting together the pieces to get full debugging support working again at least on my own project? I tried compiling xen2's fork, cloning Fody, building Fody with my local Cecil dll's, then referencing that in my project instead of the current Fody dlls, but I must have missed something as I didn't n

[2016-04-07 17:43] Martz94 opened #266 "SIGSEGV when calling assembly.Write(path) on PCL from Android"
My code is roughly this:
`var assembly = AssemblyDefinition.ReadAssembly(path);`
`// modify types within assembly`
`assembly.Write(path);`

Crashes on the call to `Write(path)`

04-07 19:31:21.984 E/mono-rt ( 4322):
04-07 19:31:21.984 E/mono-rt ( 4322): Attempting native Android stacktrace:
04-07 19:31:21.984 E/mono-rt ( 4322):
04-07 19:31:21.986 E/mono-rt ( 4322):  at mono_metadata_type_hash+298

[2016-04-07 17:49] jbevain commented on #266
Hm! If anything, that's a bug in Mono for Android that is triggered by us. As far as Cecil is concerned, it's simply writing a binary file.

Can you file a bug with Xamarin and let us know the results?

[2016-04-07 18:53] Martz94 commented on #266
When creating a simple repro project with the bug for Xamarin, I realised the `(string filePath)` API wasn't available anymore, just the `(Stream stream)` one. Turns out I wasn't using the latest version of Mono.Cecil after all.. My bad.

Using this crossplatform IO [library](https://github.com/dsplaisted/PCLStorage), reading an assembly is fine but I don't see how I can get the modified assembly

[2016-04-07 19:36] #266 closed

[2016-04-07 19:38] jbevain commented on #266
@Martz94 can't you pass a stream you control to Write? Could be a MemoryStream if you want to stay in memory.

[2016-04-07 20:10] Martz94 commented on #266
`file = FileSystem.Current.GetFileFromPathAsync(path);`
`var s = file.Result.OpenAsync(FileAccess.Read).Result;`
`var assembly = AssemblyDefinition.ReadAssembly(s);`
`var loadedType = assembly.MainModule.Types.First(t => t.FullName == serviceFullName);`
`if(loadedType.Interfaces.Contains(_defService)) return;`
`loadedType.Interfaces.Add(_defService);`
`s.Position = 0;`
`assembly.Write(s);`

This t

[2016-04-07 21:29] jbevain commented on #266
In that case, s is a ReadOnly stream. Cecil needs write and seek access.

If you want to write in memory you can simply write:

var stream = new MemoryStream();
assembly.Write(stream);

[2016-04-07 22:39] Martz94 commented on #266
Great, it works indeed. Thanks!
I can now write the stream without an issue by using ReadWrite, however when I check the type afterwards to see if the interface was actually added using `GetTypeInfo().ImplementedInterfaces`, its not there, as if nothing happened...

I'll figure it out eventually though. Thanks so much for your help!

Cheers.

[2016-04-17 22:02] jogibear9988 opened #267 "NotSupportedException in TypeSystem.cs"
When opening MahApps.Metro with SharpDevelop, I get a Exception in

     LookupType (string @namespace, string name)

see:
<img width="733" alt="bildschirmfoto 2016-04-18 um 00 02 58" src="https://cloud.githubusercontent.com/assets/364896/14590377/ea45e276-04f8-11e6-8e43-0ed58c8a3c5f.png">

you see here where I'm comming from:

<img width="708" alt="bildschirmfoto 2016-04-18 um 00 01 17" src="http

[2016-04-18 02:04] jbevain commented on #267
Thansk for reporting this!

Any chance you could upload a DLL somewhere that reproduces this? Or send me the link directly by email?

[2016-04-18 04:22] jogibear9988 commented on #267
I look that I create a small Example Project if possible!

[2016-04-18 06:24] jogibear9988 commented on #267
Problem:

SD is trying to load Assembly "System.Runtime.dll" out of "Microsoft.Bcl v1.0.19"

I created a small example project where I referenced this Nuget, and there it works.

      var q = ModuleDefinition.ReadModule("System.Runtime.dll", new ReaderParameters());
			if (q.Assembly.HasCustomAttributes)
			{
				var c = q.Assembly.CustomAttributes;
			}

but when running in SD I get here a Excep

[2016-04-18 06:34] jogibear9988 commented on #267
Ok, I'm wrong! Current Version of Cecil raises the error with my Example Project!

I works if I use the cecil nuget Version!

[2016-04-18 07:19] jogibear9988 commented on #267
[TestCecilError.zip](https://github.com/jbevain/cecil/files/223228/TestCecilError.zip)

[2016-04-18 15:58] jbevain commented on #267
Thanks! I'll look into it.

[2016-04-18 22:16] jbevain commented on #267
Out of curiosity, where did you get this version of System.Runtime.dll ?

[2016-04-18 22:55] #236 closed

[2016-04-18 22:56] jbevain commented on #267
Fixed in 95b7b86c5e8646ff684443ac4aab3c037659b7f9. Thanks for the repro!

[2016-04-18 22:56] #267 closed

[2016-04-19 04:23] jogibear9988 commented on #267
Microsoft.Bcl v1.0.19", MahappsMetro has it in its packages.json, wich is already unlisted!

[2016-04-27 09:08] MihaMarkic commented on #104
And now, UWP, too.

[2016-05-13 01:40] SimonCropp opened #272 "make www.mono-project.com/Cecil/ redirect to https://github.com/jbevain/cecil"

[2016-05-17 00:10] manu-silicon commented on #252
Any status on this? Is this planned?

[2016-05-17 02:46] jbevain commented on #252
That's definitely planned and on-going. I should have a PR out in a couple weeks.

[2016-05-17 02:52] manu-silicon commented on #252
Great. Glad to hear this. Thanks!

[2016-06-01 03:52] zhangyang01123 opened #274 "Failed to resolve assembly issue"
Hi,

I just use mono.cecil to edit existing resource strings in .net dll. Almost all the localized resource files work fine. But only the English original resource file does not work.

The English project contains core logic code and references other dlls (OtherDLL.dll), this may cause exceptions when using mono.cecil, the test code and exception is below.

`AssemblyDefinition assemblyDefinition =

[2016-06-06 17:58] jbevain commented on #274
https://groups.google.com/forum/#!topic/mono-cecil/2YrccvV3dpY

[2016-06-06 17:58] #274 closed

[2016-06-12 11:13] dgrunwald opened #275 "ThisParameter type in generic classes is inconsistent with normal parameters types"
[code]

`methodBody.ThisParameter.ParameterType` is a `TypeDefinition`,
but `arg.ParameterType` is a `GenericInstanceType` that parameterizes `GenericClass` with its own type parameters.

I would expect the `GenericInstanceType` in both cases.

[2016-06-13 10:13] xen2 commented on #90
Update: I added PDB scope info to #273
This allows locals to be scoped (and have proper mouse override behavior in case you have multiple variable with same name in different scopes)

[2016-06-25 13:21] CreateAndInject opened #276 "[Bug]The directory of .net 1.1 is "v1.1.4322" not "v1.0.5000.0""
Mono.Cecil/BaseAssemblyResolver.cs line 218

path = Path.Combine (path, "v1.0.5000.0");
=>
path = Path.Combine (path, "v1.1.4322");

[2016-07-10 20:42] eiriktsarpalis opened #278 "Cecil error on ImportGenericParameter"
I came across this rare issue when passing a piece of code to the [AssemblySaver](https://github.com/jbevain/mono.reflection/tree/assembly-saver) implementation:
[code]
when passed to
[code]
Results in the following error:
[code]
The issue seems to be caused by the fact that methods `C.F` and `D.F` share the same name. This results in [this method](https://github.com/jbevain/cecil/blob/042bdd24327

[2016-07-10 23:33] jbevain commented on #278
That does not look fun at all :)

[2016-07-11 00:34] #278 closed

[2016-07-11 06:56] isaacabraham commented on #278
Thanks for the quick fix on this! Any idea when this will be pushed to nuget?

[2016-07-15 03:26] SimonCropp opened #280 "Eta for a new nuget?"

[2016-07-15 03:40] jbevain commented on #280
Soon. I'm in the process of merging the feature branches for 0.10.

[2016-07-15 04:07] jbevain commented on #252
Merged in master.

[2016-07-15 04:07] #252 closed

[2016-07-15 04:19] jbevain commented on #246
Merged in master.

[2016-07-15 04:19] #246 closed

[2016-07-15 04:20] jbevain commented on #104
Merged in master.

[2016-07-15 04:20] #104 closed

[2016-07-15 04:20] jbevain commented on #94
Merged in master.

[2016-07-15 04:20] #94 closed

[2016-07-15 04:27] #275 closed

[2016-07-15 04:35] jbevain commented on #280
@SimonCropp there's a fair amount on changes in master; All tests are green, could you run your tests with green light the version bump?

[2016-07-15 05:19] jbevain commented on #276
@CreateAndInject it looks like we need to handle .net 1.1 on top of the existing solution.

[2016-07-15 05:28] jbevain commented on #136
Dupe of #154.

[2016-07-15 05:28] #136 closed

[2016-07-23 09:48] sawilde opened #282 "Issue with .net core and portable format"
As you may know OpenCover uses Mono.Cecil to leverage the reading of PDB files and I was hoping that the latest release would resolve the issue identified with handling .net core (https://github.com/OpenCover/opencover/issues/610)

I upgraded to 0.9.6.3 through nuget (as it appeared work on portable format had been done between the the 0.9.6.1 and 0.9.6.3 releases) but the library is throwing an O

[2016-07-23 18:06] jbevain commented on #282
@sawilde hey Shaun,

As you mentioned, in .NET Core, the pdb format changed. There's nothing in 0.9.6 to handle the portable pdb files. What's happening is that Cecil is trying to read a portable pdb file with the native pdb reader, and the native pdb reader crashes while misinterpreting the file. This particular exception has been fixed in master through #279.

To answer your question, the 0.9.6

[2016-07-23 18:13] jbevain commented on #282
One thing that master doesn't have yet, is a way to automatically select whether is should use the native pdb reader or a portable pdb reader. The current workaround right now is to:

[code]

[2016-07-23 18:21] jbevain commented on #282
One sensible thing to do would be to cherry-pick the fix with the pdb header check to throw a proper exception in 0.9.6-nuget.

[2016-07-23 20:40] sawilde commented on #282
So, if I understand you correctly, to support the new portable pdb format I should take the latest master and build from that branch (what will later become 0.10.*) and have custom assemblies of Mono.Cecil until the 0.10.* package is released through nuget?

That would help future diagnosis - OpenCover's approach to any exceptions during the handling of symbols is to just treat the assembly as non

[2016-07-23 21:39] jbevain commented on #282
If you want support for portable pdb *right now* then yes, your only option is to build Cecil, as there's no released version that supports it.

I'll be pushing a 0.10-pre version of the package this week-end or this week.

Instruction.SequencePoint has been removed, but as mentioned above, you can replace that with:

`method.DebugInformation.GetSequencePoint(instruction)`

[2016-07-24 04:13] sawilde commented on #282
awesome - I'll get ahead using a custom build and then link in with your packages later - thx

[2016-07-25 07:42] manu-silicon opened #283 "Compiling under VS 2015 Update 3"
The presence of the `project.json` and its corresponding `project.lock.json` are causing the build of Mono.Cecil to fail from VisualStudio. The error I'm getting is:

[code]

Getting rid of both files, I'm able to build under VS but the build is always marked as failing with the following error:

[code]

Building from the command line is working just fine.

[2016-07-25 08:39] manu-silicon commented on #282
Quick question about the removal of Name in VariableReference. We create code that declares variable using "new VariableDefinition ("a", ...);" What is the best replacement for this?

[2016-07-25 16:42] jbevain commented on #283
Eurk. Thanks for the heads-up.

[2016-07-25 16:44] jbevain commented on #282
@manu-silicon you'll need to create a corresponding VariableDebugInformation, and add it to the ScopeDebugInformation that maps to the life time of the variable (you can add it to the root scope to set this name to the variable for the entire method).

[2016-07-25 16:54] jbevain commented on #283
Should be fixed in 9636b243dda40914e8de7dfccb5f54bc14c8b468. Thanks!

[2016-07-25 16:54] #283 closed

[2016-07-26 04:05] manu-silicon opened #284 "Stream not closed?"
Just started to use the version from master and it seems that cecil keeps a lock on the assemblies it processes. I mean that I used to be able to delete some assemblies I had generated, but cannot anymore.

I haven't been able to debug this further but wanted to check if some internals have changed that could explain this.

[2016-07-26 04:13] SimonCropp commented on #284
@manu-silicon ModuleDefinition is now disposable https://github.com/jbevain/cecil/blob/master/Mono.Cecil/ModuleDefinition.cs#L235

so r u calling dispose?

[2016-07-26 04:19] jbevain commented on #284
@manu-silicon that's intended. We're working on getting a beta of 0.10 out of the door. Here's the relevant entry for the changelog:

### Lower Memory Usage

Cecil used to read all assemblies in memory which had a severe impact on memory when reading large assemblies or assemblies with large resources. Now, by default, a `ModuleDefinition` keeps an open handle on its file and *needs to be disposed

[2016-07-26 04:19] #284 closed

[2016-07-26 09:59] manu-silicon commented on #284
@jbevain I managed to find all the placed where I needed to call Dispose(). This was not so easy to migrate the code.

Also even if we used to read/write on the same assembly, we used AssemblyDefinition.Write using a filename as argument (sometime the same file, sometime not). This doesn't work anymore. Maybe adding a new Write method without filename or stream argument in AssemblyDefinition would

[2016-07-26 16:02] jbevain commented on #284
@manu-silicon yeah that's exactly what the last line and sample in the change log entry is about.

[2016-07-27 08:58] sawilde commented on #254
That's easy to configure - though I find that I have to configure it on appveyor and then extract the relevant yml into my appveyor.yml - I wish there was a way on appveyor to upload your current yml and replace its version.

[2016-07-29 08:10] CreateAndInject opened #285 "Why this project is named "Mono.Cecil"? Any relation with Mono?"
Why this project is named "Mono.Cecil"? Any relation with Mono?

What's the meaning of "Cecil"? abbreviation?

[2016-07-29 17:21] jbevain commented on #285
Yes, Mono.Cecil has a long relation with the [Mono project](http://www.mono-project.com/docs/tools+libraries/libraries/Mono.Cecil/)

Cecil is a nice name that ends with CIL.

[2016-07-29 17:21] #285 closed

[2016-08-08 14:30] pcheng74 opened #286 "Inject code for application compiled by dot net 4.0. the injected application will throw exception"
Hi,

I am using cecil library to inject some codes into main function. The injected codes will call a interface from Windows native DLL. Its interface is defined as" int fun1(int i) ".

Please see the following sample code:
___________________________________________________________________________________________________________________________________________

  ModuleReference module_ref = new

[2016-08-19 22:09] jbevain commented on #286
This has been answered on the mailing list. Thanks!

[2016-08-19 22:09] #286 closed

[2016-08-22 14:06] dsplaisted commented on #280
I'd love to see a new NuGet too.  The master branch appears to fix dsplaisted/strongnamer#4.

Since Strong Namer ships the Cecil assemblies directly in its NuGet package, I may resort to just using the Cecil assemblies I build myself.

[2016-08-25 10:07] matthid opened #287 "Some questions about the upcoming release"
I read #282 and have some questions about the upcoming 0.10 release:

- Will it be the first `netstandard` compatible release?
- Will it still work with non-portable pdbs and detect automatically?
- When will the first version be available (such that I can remove the self build version [here](https://github.com/fsprojects/Paket/pull/1785) and [here](https://github.com/fsharp/FAKE/pull/1281))

Than

[2016-08-25 15:37] jbevain commented on #287
@matthid hey,

We're very close to 0.10, I'm waiting to hear from a particular downstream that is kicking the tires, and then we should be good to go.

* 0.10 works is netstandard 1.3 compatible.
* The desktop version will work with native pdbs, the netstandard version only understands portable pdbs.
* Hopefully this week.

In theory, we could make the reading side of the native pdb support work o

[2016-08-25 18:09] matthid commented on #287
I think there is no need more curiosity (and knowledge if weird things happen), lets just see how it goes :). Looking forward to the release. Thank you for the fast info!

Just to clarify the desktop version will not support portable pdbs or both?

[2016-08-25 18:09] #287 closed

[2016-08-25 18:11] jbevain commented on #287
The desktop version supports portable pdbs native pdb and Mono's mdb.

[2016-08-29 15:45] jbevain commented on #280
@SimonCropp @dsplaisted you guys can consume the new beta nuget http://cecil.pe/post/149243207656/mono-cecil-010-beta-1

[2016-08-29 15:45] #280 closed

[2016-08-29 16:06] jbevain commented on #282
The first 0.10 beta is available, with portable pdb support: http://cecil.pe/post/149243207656/mono-cecil-010-beta-1

[2016-08-29 16:06] #282 closed

[2016-08-30 18:18] ElementalVenom opened #289 "Mono.Cecil causes ILSpy to crash when reading a specific assembly"
ILSpy crashes when I try to read one specific assembly(It doesnt do it for all assemblies). The stacktrace it pointing back to Mono.Cecil though so im posting the error here. Theres a screenshot of the error [HERE](https://s21.postimg.io/8mfh5zeyf/Cecil_Crash_Error_Report.png)

[2016-08-30 18:21] jbevain commented on #289
Thanks for reporting this @ElementalVenom. I'll need a repro though. Could you please upload one or email it to me privately? Thanks!

[2016-08-30 18:27] ElementalVenom commented on #289
I'd rather do it privately, Whats your email?

[2016-08-30 19:44] jbevain commented on #289
It's on my github profile.

[2016-08-30 19:57] jbevain commented on #289
Fixed in 8e65ef5f5259ad590127f281dbe8cd378f8ca801. Thanks again for reporting this.

[2016-08-30 19:57] #289 closed

[2016-08-30 23:59] ElementalVenom commented on #289
Thanks for fixing it so quickly, I'm used to waiting weeks

On Tue, Aug 30, 2016 at 2:57 PM, Jb Evain <notifications@github.com> wrote:

[2016-09-20 14:36] kdawg1406 opened #290 "netstandard support?"
Hi,

Does cecil support reflecting netstandard assemblies?

I have a tool that uses the latest NuGet package for cecil mono, users are reporting cecil errors when reflecting netstandard assemblies.

Wondering if you have tested this scenario and if I need to do something different.

Thank you!!!

Karl

[2016-09-21 16:43] lewurm opened #291 "Sharing violation on assembly after calling `AssemblyDefinition.ReadAssembly`"
With bumping Cecil to a more recent version (from a version from 2013 or something), we run into a problem on xamarin-android, where we get

[code]

The problem starts here: https://github.com/xamarin/xamarin-android/blob/59ec488b4005a09fc0e5f330f217e78c3fa14724/src/Xamarin.Android.Build.Tasks/Tasks/RemoveRegisterAttribute.cs#L27 (we call `AssemblyDefinition.ReadAssembly ()`). Afterwards we do som

[2016-09-21 17:32] jbevain commented on #291
Please see the [changelog for the 0.10 update](http://cecil.pe/post/149243207656/mono-cecil-010-beta-1) which document breaking changes and how to handle them.

Your code which looks like:

[code]

Needs to be updated to read:

[code]

[2016-09-21 17:32] #291 closed

[2016-09-21 20:25] jbevain commented on #290
I can't think of a reason t see why Cecil couldn't read or write .net standard assemblies, but who knows :)

Could you get more details? The errors/exceptions they're running into?

[2016-09-21 20:26] kdawg1406 commented on #290
Will do.  Thank you.

[2016-09-21 21:09] kdawg1406 commented on #290
@jbevain I just did a test with WPF and netstandard and it worked perfectly.

I customer of mine reported a problem with Xamarin Forms and netstandard.  However, his scenario was bizarre.

I know that Xamarin is moving forward with netstandard.  I'll close this for now until I have a real concrete example.

Apology for randomizing.

Good to know that this is the first you've heard of this, this ma

[2016-09-21 21:09] #290 closed

[2016-09-21 21:10] jbevain commented on #290
No worries! Thanks for investigating!

[2016-09-22 12:10] li0nsar3c00l opened #292 "Small fix in info"
[Here](https://github.com/jbevain/cecil/wiki/Users) you wrote, [dnSpy](https://github.com/0xd4d/dnSpy) uses cecil. This is currently not correct. It's based on 0xd4d's own [library](https://github.com/0xd4d/dnlib).

Just to let you know

[2016-09-22 15:21] jbevain commented on #292
Thanks for the heads-up! I haven't touched the page for a while, so it may or may not be completely accurate or up to date. I'll remove this entry.

[2016-09-22 15:21] #292 closed

[2016-09-26 10:13] CreateAndInject opened #294 "Can't run after Mono.Cecil"
[test.zip](https://github.com/jbevain/cecil/files/492801/test.zip)

AssemblyDefinition.ReadAssembly(source).Write(target);

[2016-09-26 16:09] jbevain commented on #294
Yeah you're going to give more details, I'm not going to download and run a random test exe :)

[2016-09-26 20:50] JustinBarker commented on #90
Any updates on this?
My company uses Fody.PropertyChanged and these issues are causing all kinds of heartburn.
@SimonCropp When will this be put into Fody.PropertyChanged? Are we waiting for @jbevain still?

[2016-09-26 20:52] jbevain commented on #90
On the Cecil side of things we have complete roundtrip for portable pdb in Cecil 0.10-beta1, which is the recommended workaround.

[2016-09-27 02:30] CreateAndInject commented on #294
Why you don't download?
If you worry about viruses, you can : Assembly.LoadFrom(target) or just add it as reference in Visual Studio,the "target" is not format well, so it will fail.

[2016-09-28 17:51] Serg046 opened #295 "NullReferenceException during writing assembly when it contains async method of renamed type"
Just run this code

[code]

The line `Method(typeof(ParentClass.NestedAsyncClass));` throws `System.NullReferenceException`

   at Mono.Cecil.Mixin.GetNestedType(TypeDefinition self, String fullname)
   at Mono.Cecil.TypeParser.TryGetDefinition(ModuleDefinition module, Type type_info, TypeReference& type)
   at Mono.Cecil.TypeParser.GetTypeReference(ModuleDefinition module, Type type_info)
   at M

[2016-09-28 17:55] jbevain commented on #295
Good catch, thanks for the repro. I think you can workaround it by loading the assembly entirely,

Replace

[code]

by:

[code]

[2016-09-28 17:59] Serg046 commented on #295
Thanks a lot. It works fine.

[2016-09-28 19:58] Serg046 commented on #295
I downloaded the latest code and cannot reproduce the issue. Looks like it is already fixed. So waiting for a new nuget release :)

[2016-09-28 19:58] #295 closed

[2016-09-28 20:17] jbevain commented on #295
You can use the 0.10-beta nuget.

[2016-09-28 21:15] Serg046 commented on #295
Checked `0.10`, it works fine, thanks.

[2016-10-03 09:23] CreateAndInject commented on #294
?

[2016-10-03 15:48] atsushieno commented on #294
AssemblyDefinition.ReadAssembly() and Write() just work fine. If you want to have this bug triaged you should explain how you built your assembly so that cecil devs can write reproducible test case instead of checking in random possibly harmful binary that cecil devs cannot force cecil users to trust.

[2016-10-04 02:44] CreateAndInject commented on #294
The source file is normal, and the target is normal by dnlib, but the target is not format well by Mono.Cecil.

[2016-10-04 02:56] CreateAndInject commented on #294
This file is dumped from memory, but this is not impormat, because it's runnable and have been unpacked, and the target by Mono.Cecil is not format well, and it will become normal by ildasm/ilasm.it means all method codes are normal, just the file header has error.

[2016-10-04 04:36] atsushieno commented on #294
It is important as I already explained above.

[2016-10-04 14:55] CreateAndInject commented on #294
@atsushieno  Why are you so obstinate?

@jbevain   I have found this bug:

If PublicKey is null but Cor20HeaderFlags has StrongNameSigned, the StrongNameSignature RVA and Size can not be 0.
So, if I modify Cor20HeaderFlags from 0xb to 0x3 or keep the flags but modify StrongNameSignature RVA from 0 to 0x2050, and modify StrongNameSignature Size from 0 to 0x80, the target can run normally.

[2016-10-04 15:17] CreateAndInject commented on #294
Mono.Cecil.PE/ImageWriter.cs line 777:
if (public_key.IsNullOrEmpty ())
				return 0;

====>

if (public_key.IsNullOrEmpty())
return (module.Attributes & ModuleAttributes.StrongNameSigned) != 0 ? 128 : 0;

[2016-10-04 15:23] atsushieno commented on #294
Are you logically describing me as "obstinate" or is that just insulting?

[2016-10-04 15:28] CreateAndInject commented on #294
The source is format well and the output is not format well, so if you test it, you will find the bug easylly.
But you say "AssemblyDefinition.ReadAssembly() and Write() just work fine", so I belive you don't do anything.

[2016-10-04 15:36] CreateAndInject commented on #294
It's not important how Ibuilt the assembly.
Create a WinForm project by Visual Studio.
Modify by CFF Explorer:
.Net Directory/Flags -> 0xB
.Net Direcotry/StringNameSignature RVA -> 0x2050
.Net Direcotry/StringNameSignature Size-> 0x80

The file can run also.

after "ReadAssembly/Write", the output it not format well.

[2016-10-04 15:48] jbevain commented on #294
@CreateAndInject thanks for looking into it. Could you please submit a PR with the fix and a test?

What @atsushieno means is that everyone is busy, if you want developers to look into your issue, you need to help them. That means putting together a better description, describing steps about how we could reproduce the issue, and that includes how to create a binary such as the one you uploaded. I'

[2016-10-06 00:24] plioi opened #296 "Missing namespaces, methods, and properties after upgrading to 0.10.0"
I'm attempting to upgrade my project to work with .NET Core, and I make use of Mono.Cecil to detect line numbers of methods. When I reference 0.10.0-beta1-v2 from a netcoreapp1.0 project, a few things I've depended on in recent versions disappear. I'm no longer able to say `using Mono.Cecil.Rocks;`, which keeps me from being able to call `GetMethods()` on a `TypeDefinition`. Also, I've been making

[2016-10-06 02:06] jbevain commented on #296
Please have a look at [the change log for 0.10](http://cecil.pe/post/149243207656/mono-cecil-010-beta-1).

It explains why Instruction.SequencePoint was removed and what you should replace it with.

Mono.Cecil.Rocks is not compiled for the .netstandard 1.3, I suggest you just include the files that you need in your project: https://github.com/jbevain/cecil/blob/master/rocks/Mono.Cecil.Rocks/TypeDe

[2016-10-06 02:06] #296 closed

[2016-10-06 02:07] plioi commented on #296
Thanks for the quick response!

[2016-10-12 00:03] plioi commented on #296
I'm having some trouble with the disposability of ModuleDefinition.

Here I have a using block that processes an assembly:

https://github.com/fixie/fixie/blob/5c68d9cf90ac2fc5c103ac6f93469db941acf678/src/Fixie.Runner/SourceLocationProvider.cs#L46

I haven't been able to nail down when, but this occasionally throws an IOException because "The process cannot access the file '....pdb' because it is

[2016-10-12 13:25] plioi commented on #296
FWIW, when this fails it's it's failing on the very first attempt to ReadModule. My project is a test framework, and I'm trying to test my ability to determine line numbers for a dll, namely the dll of self-tests. I haven't had trouble reading from that file in previous versions, but this may be a red herring outside of Cecil's control.

[2016-10-14 16:09] jbevain commented on #296
It looks like that something is preventing Cecil to read the pdb then. Would be interesting to see if another process holds an exclusive handle on the pdb.

[2016-10-14 16:15] jbevain commented on #296
Here's where the pdb is read:

https://github.com/jbevain/cecil/blob/master/symbols/pdb/Mono.Cecil.Pdb/PdbHelper.cs#L25

That could throw an IOException if the file is already opened and locked.

You could try to add code to create a file handle on the pdb yourself before reading with Cecil, and error out if you can't read it. In that case it would be interesting to determine who owns the lock.

[2016-10-21 14:12] markjerz opened #297 "ImportReference(Type type) for .Net core"
I've exhausted my usual googling ...

How do I create/import a TypeReference from an arbitrary type in .Net core?

Thanks.

[2016-10-21 14:44] marek-safar opened #299 "Problems with debug symbols API"
The current design has few issues when dealing with debug symbols as it still relies on hardcoded platform specific values.
- No simple way to read and write to same portable PDB file (similar to ReadWrite in ReaderParameters class)
- No debug symbols auto-detection, which requires quite complex logic to be copied everywhere when dealing with ppdb/pdb/mdb support.
- No support for embedded portabl

[2016-10-21 22:36] Serg046 opened #300 "Strange RuntimeBinderInternalCompilerException during dynamic field invocation in nested type"
Could you please advise?

[code]

Output

[2016-10-26 20:57] jbevain commented on #300
That's going to be a curious one. We'll probably need to debug what's going into Mono.CSharp's RuntimeBinder to figure out what's going on.

[2016-10-26 22:16] jbevain commented on #300
It's a function of how the C# compiler compiles the .Field1 access:

[code]

The Binder uses typeof(Program) as a context, which is the reason the binder fails.

[2016-10-26 22:16] #300 closed

[2016-10-27 05:22] SimonCropp opened #302 "null ref in DefineSequencePoints"
When i run this https://github.com/Fody/Visualize/tree/newcecil

i get a null ref deep in inside cecil

this is done using https://github.com/jbevain/cecil/commit/68bcb750b898f4882a5af44299bb322aaa531f93

`sequence_points` is null

See below

I can debug into this, so let me know what other info u need

[code]

![image](https://cloud.githubusercontent.com/assets/122666/19755348/f219300c-9c60-11e6-

[2016-10-27 05:47] SimonCropp commented on #302
By process of elimination the offending assembly i am trying to round trip has this call

[code]

changing it to
[code]
and i do not get the null ref

[2016-10-27 05:54] SimonCropp commented on #302
so it seems the null ref is cause by this escape clause

https://github.com/jbevain/cecil/blob/master/symbols/pdb/Mono.Cecil.Pdb/PdbReader.cs#L186

![image](https://cloud.githubusercontent.com/assets/122666/19756083/e780d532-9c65-11e6-97c2-0f5fd75920a3.png)

[2016-10-27 15:39] jbevain commented on #302
Thanks for the super detailed bug report @SimonCropp! <3

[2016-10-27 15:42] jbevain commented on #302
Fixed in 155beb470f5aa267b1b42a793d936567fa46cb61.

[2016-10-27 15:42] #302 closed

[2016-11-20 20:08] spardathementor commented on #299
same here!

[2016-11-21 16:25] jbevain commented on #299
I'm not sure I understand the issue here. Just pass a PortablePdbReader and PortablePdbWriter as parameters to Read and Write, and it will read and write from the same portable pdb. Could you detail what doesn't work for you here?

The problem is that having one "auto" detection logic will work for someone and not for someone else. Example : what happens if there's a pdb and a mdb for the same ass

[2016-11-21 17:08] marek-safar commented on #299
ReadWrite is not available for debug symbols. If you use filename you hit https://github.com/jbevain/cecil/blob/68bcb750b898f4882a5af44299bb322aaa531f93/symbols/pdb/Mono.Cecil.Pdb/PdbHelper.cs#L25 so the file is open for reading only.

if there is pdb and mdb for same assembly and they are both valid (MVID matching, etc) then it'd be fine to throw AmbiguousSymbolFileException or something like tha

[2016-11-21 17:12] jbevain commented on #299
Please provide a repro, I'll look into it.

You don't pass a ISymbolReaderProvider. Cecil will read the debug tables just like any other table.

[2016-11-21 17:16] marek-safar commented on #299
I'll make a repro.

If I don't pass ISymbolReaderProvider will it also write "automatically"? Basically the flow is to rewrite dlls with embedded pdbs only

[2016-11-23 12:58] marek-safar opened #304 "System.IO.IOException: Sharing violation on path when debug symbols exist"
Simple sample

[code]

Crashes on writing with https://gist.github.com/marek-safar/cd9099593f9d607c2cae4e11c081f91d because AssemblyReader opens files always in read-only mode https://github.com/jbevain/cecil/blob/68bcb750b898f4882a5af44299bb322aaa531f93/symbols/pdb/Mono.Cecil.Pdb/PdbHelper.cs#L25

[2016-11-23 12:58] marek-safar commented on #299
Filled the issue for missing ReadWrite as https://github.com/jbevain/cecil/issues/304

[2016-11-24 02:24] #304 closed

[2016-11-24 02:32] jbevain commented on #299
Thanks Marek, this one is fixed.

One thing we don't have an API for is a way to turn an external debug symbol into embedded ppdb data. Is this what you mean?

[2016-11-24 07:57] marek-safar commented on #299
yes, you can look at it this was. I was thinking more in terms of mdb, ppdb, embedded-ppdb options
Same goes the other way turn embedded ppdb into external ppdb

[2016-11-24 17:41] inderpal58 opened #305 "cecil vs using System.Reflection;"
Steps to get issue:

Created a exe with AssemblyInfo.cs.
run  exe through https://github.com/yck1509/ConfuserEx.

_Mono.Cecil says no Custom Attribute thus assembly.HasCustomAttributes is false.
Assembly.LoadFile using System.Reflection returns Custome Attributes._

[2016-11-24 18:57] jbevain commented on #305
Hi, thanks for reporting this. Please upload a binary somewhere.

[2016-11-24 21:14] inderpal58 commented on #305
Hi, Sorry, I can not share exe (comfidential). I will try to fix issue and if not able to fix will generate dummy exe. Thank you.

[2016-11-27 20:22] uhrm opened #306 "Missing default AssemblyResolver on .NET Core"
I have essentially the following program:
[code]
This works fine in Mono, but gives an `ArgumentNullException` running in .NET Core (Linux) when calling `mref.Resolve()`. Stacktrace is
[code]

[2016-11-27 20:43] jbevain commented on #306
Good catch, we do not have a default assembly resolver for .NET Core. That's something we need to fix.
You can workaround it by implementing an IAssemblyResolver and passing an instance to:

[code]

[2016-11-27 23:08] jbevain commented on #306
It should be relatively easy to create a IAssemblyResolver implementation for when the .NET Core application has been published (all .dll will be in the output folder).
It will be harder to create an implementation that works in the development cycle and has to resolve to the different libraries in the NuGets that the app references.

[2016-11-28 00:01] jbevain commented on #306
The following works during the development. We would need a way to switch to a simple one when running published.

1. Change your project json to include `"preserveCompilationContext" : true`

[code]

2. Reference the package `Microsoft.Extensions.DependencyModel`:

[code]

3. Add this code to your project:

[code]

4. Use the new resolver

[code]

[2016-11-28 17:43] jbevain commented on #305
A dummy exe works. I need something to work with :)

[2016-12-09 19:56] sawilde opened #308 "Non beta release"
Do we have a timescale on when the release will become non-beta?

[2016-12-14 15:47] akoeplinger opened #309 "Wrong portable pdb minor version"
Cecil uses the following versions for portable pdb (from [PortablePdb.cs#L207](https://github.com/jbevain/cecil/blob/c0181b8b3c091efd6bc5f4d2e5888d0f35b4fef7/Mono.Cecil.Cil/PortablePdb.cs#L207)

[code]

The minor version seems to be wrong, it should be 20557 (0x504d) according to the spec: https://github.com/dotnet/corefx/blob/fd15ab1de03a4431e0ead9ff10e1bf53e2ae4bb7/src/System.Reflection.Metadata

[2016-12-14 18:03] #309 closed

[2016-12-14 22:03] jbevain commented on #308
No ETA right now. We'll publish a beta 2 shortly, and then we have some more work to do to properly support the embedded portable pdb information. So Q1 next year?

[2016-12-15 07:14] sawilde commented on #308
I see :( - I was hoping for a release as I am not keen on releasing a new version of OpenCover with a beta package.

What does beta mean to you? Is it "beware, here be dragons" or just missing a few features?

[2016-12-15 18:37] jbevain commented on #308
The portable pdb support is definitely beta in the sense that it's not battle tested. The rest of Cecil is the battle tested code that runs in 0.9, I wouldn't worry if you only depend on it. What's missing to leave the beta status now is a bit more testing of the ppdb support (we're kicking the tires with our friends in Mono on that) and some additions to the API to support reading from any symbol

[2016-12-15 22:01] sawilde commented on #308
It is mainly the .net core (portable?) pdb support my users are clamouring for. I have a beta release that includes your beta that seems to work but don't want to create a release with a beta mono.cecil if I can help it.

[2016-12-28 11:22] marko-vasic opened #311 "AssemblyResolutionException When Writing Unmodified Module"
ModuleDefinition.Read followed by ModuleDefinition.Write
(without any changes in between to the read module) causes AssemblyResolutionException.

The dll under test is RequestReduce.Facts\\bin\\Debug\\RequestReduce.Facts.dll
from project: https://github.com/mwrock/RequestReduce
commit SHA: 2d6fec822ff0a16ac155047bc475048e513d439d
Stack Trace:
[AssemblyResolutionException1.txt](https://github.com/j

[2016-12-29 08:59] jbevain commented on #311
The ResolutionException should tell you which assembly is required.

This happens when the assembly has a construct that needs resolving (retrieving the type definition in its defining assembly) to now the size of some metadata element to properly write it back.

[2017-01-07 08:49] mellinoe opened #312 "Using Cecil on .NET Core results in corrupted (?) assemblies"
I am using the latest beta version on .NET Core and seeing that very simple code is not working, while the same code works fine on .NET Framework. I have a very simple repro linked below, but I was originally trying to track this down as part of a more complicated application. All the project below does is load an assembly and save it back out unmodified.

Repro steps:
* Clone https://github.com/m

[2017-01-07 15:17] jbevain commented on #312
Interesting. Thanks for the great repro & steps, I'll look into it!

[2017-01-07 15:22] jbevain commented on #312
@mellinoe first things first, do you see a difference if you change:

[code]

into:

[code]

?

[2017-01-07 16:31] jbevain commented on #311
I'm closing this as this can be an expected behavior.

[2017-01-07 16:31] #311 closed

[2017-01-07 20:26] mellinoe commented on #312
Trying that now...

[2017-01-08 10:23] marko-vasic commented on #311
Thank you.

As you mentioned the problem is that another assembly is referenced.
The referenced assembly is on the same path as the read one.
In some cases module.AssemblyResolver can resolve an assembly on the same path,
in the cases I provided it cannot.
The fix to my problem is shown hereunder:

ModuleDefinition module = ModuleDefiniton.ReadModule(path);
...
// fix
if (module.AssemblyResolver i

[2017-01-09 20:45] erozenfeld opened #314 "Optimize StringHeap size"
String suffixes can be used to optimize the size of StringHeap. For example if `foobar` and `bar` are needed, only `foobar` has to be emitted, its suffix can be used for `bar`. Here is how this is implemented in Roslyn: https://github.com/dotnet/roslyn/blob/614299ff83da9959fa07131c6d0ffbc58873b6ae/src/Compilers/Core/Portable/System/Reflection/Metadata/Ecma335/MetadataBuilder.Heaps.cs#L287

[2017-01-09 21:38] jbevain commented on #314
@erozenfeld cool, are you working on adding support for this to Cecil?

[2017-01-09 22:08] jbevain commented on #311
I think all applications should provide their own Assembly Resolvers and control how references are resolved.

The fact that it sometimes work and sometimes not sound problematic though. Do you have more details on this?

[2017-01-09 23:47] erozenfeld commented on #314
@jbevain Not yet but I can probably get to this later this week.

[2017-01-09 23:50] jbevain commented on #314
Sounds great, looking forward to reviewing the PR :)

[2017-01-10 13:11] StephaneDelcroix commented on #304
I started getting this error after upgrading to 0.10-beta, and the error stills exists after upgrading to master. Investigating some more before reopening the issue

[2017-01-10 21:44] tkennelly opened #315 "ModuleDefinition.AssemblyReferences does not see references to constants in a static class."
AssemblyReferences does not see references to assemblies that only reference a constant in a static class.

[code]

Has the following output when calling StaticClass.Constant in the Main() method:
[code]

Has the following output when calling StaticClass.Method() in the Main() method:
[code]

Notice the ClassLibrary1 reference now exists.

[2017-01-10 22:29] jbevain commented on #315
Hi there!

That's likely not a Cecil issue. I have not verified this (you can with ildasm), but the C# compiler most certainly inlines the constant (that is, it will load the "Constant" string instead of loading a field), and doesn't end up referencing the assembly as it is not referenced from a metadata point of view.

[2017-01-10 22:29] #315 closed

[2017-01-10 22:47] tkennelly commented on #315
Ah makes sense.  Thanks for the explanation.

[2017-01-11 01:21] #312 closed

[2017-01-11 01:26] jbevain commented on #312
Yeah that was a tricky one. I didn't spend too much time investigating the root cause, but there's a difference between .NET Desktop and .NET Core in either FileStream or BinaryWriter. To fix it, I had to flush the BinaryWriter used to write the assembly.

[2017-01-11 01:39] mellinoe commented on #312
Interesting. If you know what the difference is exactly, we would love a bug report over at https://github.com/dotnet/corefx.

Will there be a new beta nuget package that I could use to test out the fix?

[2017-01-11 01:42] jbevain commented on #305
I'm closing this as this is inactive. Please provide a binary to test if you want to re-open this. Thanks!

[2017-01-11 01:42] #305 closed

[2017-01-11 13:43] marko-vasic commented on #311
You can reproduce this behaviour following next steps:

RequestReduce
-git clone https://github.com/mwrock/RequestReduce
-git checkout 2d6fec822ff0a16ac155047bc475048e513d439d
-msbuild RequestReduce.sln
-write c# application that reads RequestReduce.Facts\bin\Debug\RequestReduce.Facts.dll
and writes to the same location

NewtonsoftJson
-git clone https://github.com/JamesNK/Newtonsoft.Json
-git che

[2017-01-11 17:00] jbevain commented on #312
Feel free to create a bug using your repro with a reference to 0.10 beta 1 on corefx, but I'm afraid I won't have time to extract a smaller repro myself in the coming days.

I'll push a beta 2 shortly.

[2017-01-11 17:17] jbevain commented on #311
Ah right. The differences comes from the fact that only some metadata constructs require resolving before writing them back. They're all related to enums (in custom attributes or in constant fields), as there's no way to know what the size of an enum is without resolving its type definition.

[2017-01-11 17:32] marko-vasic commented on #311
Should a module directory be included in the module's AssemblyResolver Search Directories by default?

Is following way a good way to work around the Resolution exception?
if (module.AssemblyResolver is DefaultAssemblyResolver)
{
  DefaultAssemblyResolver resolver = module.AssemblyResolver as DefaultAssemblyResolver;
  resolver.AddSearchDirectory(System.IO.Path.GetDirectoryName(module.FullyQualifi

[2017-01-13 00:37] plynkus opened #316 "Deterministic output?"
Greetings!

(Looking at the source presently, but firing off an issue due to observations in local testing in case someone has some quick insight.)

Roslyn has seen the introduction of one or more opt-in fixes for assembly/PDB determinism.  E.g., /deterministic via command line, <Deterministic>true</Deterministic> in a .csproj property group driving the former.  There looks to be at least one unsu

[2017-01-13 13:31] maritaria opened #317 "Inserting jump instructions incorrect after writing to disk"
When inserting a branching instruction, and specifying a pre-existing instruction, after writing to disk the IL says to jump to the original position of the instruction before others were inserted. Inserting instructions doesn't seem to be updating the offset of instructions.

[code]

If there is an easy way to force Cecil to update/render the offsets than please let me know :)

[2017-01-13 22:13] jbevain commented on #316
There's definitely a plan! I love the idea of having deterministic output. It will likely be an argument to pass to WriterParameters. There's a few things that are not deterministic, mainly the module ID if we regen it, and the timestamps in the PE file.

[2017-01-13 22:17] plynkus commented on #316
Thanks for the heads up.  I've locally introduced a determinism opt-in bool to honor the original image timestamp (enough for my initial purposes).  Haven't run into module ID, path or other issues as of yet.

[2017-01-15 00:20] 6A opened #318 "Cannot edit a PPDB's timestamp"
When writing symbols with the [`PortablePdbWriter`](https://github.com/jbevain/cecil/blob/master/Mono.Cecil.Cil/PortablePdb.cs#L167), it would be nice to control the [time stamp that is written](https://github.com/jbevain/cecil/blob/master/Mono.Cecil.Cil/PortablePdb.cs#L267), in order to please Visual Studio and other debugging tools.

I can take care of it, I'd just like to know if you'd like me

[2017-01-15 04:03] CreateAndInject opened #319 "What is "Rock"?"
1.There is a namespace "Mono.Cecil.Rocks", and so many types named ....Rocks

But what's the meaning of rock? I am from China.

rock = stone ?

2.Why not move these extensions to the original types?
I usually use SimplifyMacros/FindOrCreateStaticConstructor/MakePointerType... in dnlib, but I don't know cecil has these functions so many years! That's because most of people just use these two namesp

[2017-01-16 07:49] lextm commented on #319
https://github.com/jbevain/cecil/wiki/Mono.Cecil.Rocks

It is already answered why a separate namespace.

About why the term "rocks" is chosen, @jbevain might shed some light. My personal understanding is that it means “Mono Cecil rocks” (Mono Cecil is cool), similar to https://answers.yahoo.com/question/index?qid=20081104200051AAsoS89.

[2017-01-18 18:39] jbevain commented on #318
That makes sense. This is also tied to #76. I'll track the work there. Thanks!

[2017-01-18 18:39] #318 closed

[2017-01-18 18:40] jbevain commented on #316
Let's track that in #76 which predates this.

[2017-01-18 18:40] #316 closed

[2017-01-25 06:50] ameyasubhedar opened #321 "Locked Target Assembly with Mono.Cecil and PCL Code Injection"
I have a solution structure as follows:

**CoreSolution**
|
+---- Core.dll (PCL)
 This contains CodeInjectionLogic (Inserts IL instruction on each type using Mono.Cecil for PCL)

**BuildSolution**
|
+---- Core.dll  (For Project Reference)
|
+---- CustomMSBuildTask.dll  (Injects the code into the target.dll)
 This contains CodeInjectionTask which applies CodeInjectionLogic on each target Type to we

[2017-01-25 15:02] jbevain commented on #321
Which version of Mono.Cecil are you using?

If you're using 0.10, Cecil handles file handles differently from 0.9. If you're reading and writing to the same file, you need to use:

[code]

See [Cecil 0.10](http://cecil.pe/post/149243207656/mono-cecil-010-beta-1)

[2017-01-25 16:14] ameyasubhedar commented on #321
Yes, I updated to 0.10 Cecil.

Thanks a lot. The code is now working based on your suggestions.

[2017-01-25 16:23] jbevain commented on #321
Good to hear!

[2017-01-25 16:23] #321 closed

[2017-01-27 16:45] #319 closed

[2017-01-27 22:21] ameyasubhedar commented on #321
@jbevain

I need your advice on another issue with the same solution structure as above, so thought of asking in the same thread. Let me know if you need more details move this to a separate issue. I am sure I am missing something here.

The build is good now but while writing even after importing the reference I still get an error System.Argument Member ObjFactory.OnObjCreated is declared in anot

[2017-01-27 22:27] jbevain commented on #321
This sequence looks wrong.

You import a reference to use a method into your module. Then you resolve it into its original definition (the reverse of importing), and use that definition in your module. So you are effectively using a method from another module into your module.

[2017-01-27 23:21] ameyasubhedar commented on #321
Thanks a lot for the pointer. Fixed the issue.

So the mistake that I was doing was instead of passing the reference to the IL instruction I was resolving it and then passing the definition.

Resolve should be done at the module that consumes the reference.

[2017-01-28 04:08] jbevain commented on #299
So looking back at this issue.

This has been fixed long ago.

This is being worked on in #322.

Current master supports reading and writing embedded portable pdb. But it does treat them as tables that are part of the metadata, so you can not read from external and write to embedded, or opt-out of reading embedded symbols.

[2017-02-09 01:49] spouliot opened #325 "Saving more than once an assembly is not safe without reloading debugging symbols"
More details in: https://github.com/xamarin/xamarin-macios/pull/1653#issuecomment-278521374
Test case (binaries) in: https://bugzilla.xamarin.com/show_bug.cgi?id=51667

Notes
* That might only affect .mdb - I've never really looked into the pdb related source code;
* It's a corner case (even for .mdb) that, as far as I know, only happens from converting a .pdb to a .mdb;
* However there's a perfor

[2017-02-11 23:15] jbevain commented on #317
Instruction offsets are recomputed at write time, including branches, so I'm not sure what the issue is.

Could you provide a self contained repro?

[2017-02-13 13:09] maritaria commented on #317
Sorry for closing the issue sooner; I made a mistake

[2017-02-13 13:09] #317 closed

[2017-02-13 20:10] erozenfeld commented on #314
This was implemented in #326.

[2017-02-13 20:10] #314 closed

[2017-02-16 16:21] joelmartinez opened #329 "Error resolving `System.Int32` on a .NET Core assembly"
I'm using Mono.Cecil (via submodule, this commit currently: [272feac](https://github.com/mono/cecil/tree/272feac16778a07efc32096eea07fe6db82575f2) ), and encountering the following error when trying to resolve `System.Int32`.

[code]

The assembly in question was built via `dotnet new classlib` ... so it's the default template. It was created with `1.0.0-rc4-004771`. And I'm adding `assemblyResolv

[2017-02-16 16:48] jbevain commented on #329
Hey! Thanks for reporting this! Could you upload somewhere or email me the offending binary?

[2017-02-16 17:13] joelmartinez commented on #329
@jbevain I've zipped up the whole project (along with obj/bin dirs) here: [core.zip](https://github.com/jbevain/cecil/files/780916/core.zip). Thanks!

[2017-02-16 21:39] jbevain commented on #329
So core.dll isn't the problem. It's possible the assembly resolver is failing to read a native file.

[2017-02-16 21:42] jbevain commented on #329
I don't think I have enough to help you here :)

The exception shows that Cecil fails to read an assembly, not recognizing its header. If it's core.dll, I can't repro. If it's another file from `/usr/local/share/dotnet/shared/Microsoft.NETCore.App/1.1.0/` then it could be a non managed .dll (but why would you have a dll on unix?).

[2017-02-16 21:43] joelmartinez commented on #329
@jbevain ok, let me come up with a more concise test case. I will post again in this GH Issue when I have it (probably tomorrow, though). Thanks for looking into it :)

[2017-02-16 21:44] jbevain commented on #329
Sounds good. Thanks!

[2017-02-17 21:30] joelmartinez commented on #329
Hmm ... ok, so I've been unable to reproduce the issue in a standalone/targeted solution. In fact, I haven't even needed to add the search directory to the resolver ... where I get an error about being unable to resolve `System.Runtime` in my regular project.

The test I'm using is against the same core .dll (though I added a method to the class with strings and ints)

[code]

Must be something ab

[2017-02-17 21:30] #329 closed

[2017-02-18 17:54] mkacz91 opened #332 "Custom attribute constructor argument of type System.Type resolves with wrong MetadataType"
This error occurs when processing the following simple library:

    using System;

    namespace CecilAttribute
    {
        [AttributeUsage(AttributeTargets.All, AllowMultiple = true)]
        public class FooAttribute : Attribute
        {
            public Type Value { get; }
            public FooAttribute(Type value) { Value = value; }
        }

        public struct Bar { }

        [Foo

[2017-02-18 18:09] jbevain commented on #332
Thanks for reporting this.

Yeah I see. The problem is that the «valuetypeness» of a type isn't saved in a assembly. Cecil will try to guess it if it's used as a valuetype somewhere in the assembly, but if you want to be sure 100%, you'll need to resolve the TypeReference to a TypeDefinition and check that.

Unfortunately there's not much Cecil can do here.

[2017-02-18 18:09] #332 closed

[2017-02-21 14:22] rolfbjarne commented on #76
This is becoming more important now that compilers support deterministic output (see csc's `/deterministic` command-line parameter).

Cecil is currently not able to round-trip such assemblies, since a new timestamp will be created.

[2017-02-21 16:38] jbevain commented on #76
Timestamp preserving is in #333.

[2017-02-21 23:49] jbevain commented on #318
@6A we've just added a way to control the module's timestamp. Do you need a way to control the portable pdb timestamp independently?

[2017-02-22 09:34] 6A commented on #318
@jbevain Thanks! No, I think controlling the module's timestamp as a whole is enough.

[2017-02-22 16:22] jbevain commented on #299
All other items are closed, we still need to address

For 0.10.

[2017-02-24 19:41] sbomer opened #337 "ReadArchitecture() fails on .NET Core assembly"
This looks similar to [329](https://github.com/jbevain/cecil/issues/329).

I get this stacktrace:
[code]

**Repro steps**

[ceciltest.tar.gz](https://github.com/jbevain/cecil/files/800306/ceciltest.tar.gz)
`dotnet restore`
`dotnet run`

**Other info**
This version of System.Runtime.dll came from `/home/sven/bin/shared/Microsoft.NETCore.App/1.1.1/System.Runtime.dll`.

dotnet cli version info:
[code

[2017-02-24 21:38] jbevain commented on #337
Could you send me this particular System.Runtime.dll?

[2017-02-24 22:27] jbevain commented on #337
@sbomer we need to find out why on earth this PE file has 0xfd1d for architecture.

[2017-02-24 22:35] jbevain commented on #337
Well I guess this explains it:

https://github.com/dotnet/coreclr/blob/6f7aa7967c607b8c667518314ab937c0d7547025/src/inc/pedecoder.h#L94-L107

0xfd1d is IMAGE_FILE_MACHINE_ARM64 ^IMAGE_FILE_MACHINE_NATIVE_OS_OVERRIDE

Where IMAGE_FILE_MACHINE_NATIVE_OS_OVERRIDE is defined for Linux.

[2017-02-24 22:56] #337 closed

[2017-02-25 01:21] sbomer commented on #337
Wow, thanks for the fast response and fix!

[2017-03-01 22:01] erozenfeld opened #341 "Cache method bodies for small methods"
Roslyn has an optimization that reuses identical method bodies for small methods:
https://github.com/dotnet/roslyn/blob/91ee274439b6cbed8dbc42dccf3b737305652434/src/Compilers/Core/Portable/PEWriter/MetadataWriter.cs#L2875

This can be ported to Cecil.

Also I noticed that all method bodies are 4-byte aligned; that's only required for method bodies with fat headers, tiny method bodies don't have to

[2017-03-01 22:01] erozenfeld commented on #341
I have this optimization implemented. Will PR after some cleanup.

[2017-03-03 16:23] apwillies commented on #264
Anybody know if this got fixed? I'm hitting this error at the LinkAssemblies step using Dotfuscator on my Android Xamarin project...

[2017-03-03 16:34] mrexodia commented on #264
@apwillies if you can, switch to dbLib: https://github.com/0xd4d/dnlib
On Fri, 3 Mar 2017 at 17:23, apwillies <notifications@github.com> wrote:

[2017-03-07 20:36] joelmartinez commented on #329
Can confirm that the resolution to https://github.com/jbevain/cecil/commit/bb40c2108ecf303691d0536c4f9d3b9035790c5c resolves this issue (once I finally got around to creating a repro case) :)

[2017-03-07 20:40] jbevain commented on #329
I'm like 99% sure it's this issue yes :)

[2017-03-13 02:12] xen2 commented on #90
FYI, I am reimplementing native PDB roundtrip on top of new API.

[2017-03-13 02:47] jbevain commented on #299
Visual Studio 2017 has a completely different implementation of embedded debug information. It's implemented in #348.

[2017-03-13 02:47] #299 closed

[2017-03-14 13:21] xen2 commented on #90
First version:
https://github.com/jbevain/cecil/pull/351

[2017-03-20 14:42] Ziflin commented on #306
I've got a similar problem with resolving assemblies in .NET Core and the above does not seem to work (in VS 2017 release). I have a 'netstandard1.6.1' library "A" and "B". "B" depends on "A". I have a 'netcoreapp1.1' application that loads "B" and then attempts to resolve a parameter from a method in "B" whose parameter type is from "A".

The problem seems to be that for *all* the libraries in `D

[2017-03-20 15:01] jbevain commented on #306
@Ziflin could you put together a small repro that shows your issue and link it here, I'll have a look with the newer toolkit. Thanks!

[2017-03-20 18:18] jbevain opened #360 "PE32+"
MonoDevelop uses the PE32+ flag of a binary to launch an exe under a 32bits or 64bits Mono.
We need to provide read access to this flag.

[2017-03-21 16:13] jbevain commented on #341
Fixed by #343.

[2017-03-21 16:13] #341 closed

[2017-03-21 16:14] jbevain commented on #90
And now we can close this dinosaur of a bug. Thanks @xen!

[2017-03-21 16:14] #90 closed

[2017-03-21 16:14] jbevain commented on #4
Fixed in #353.

[2017-03-21 16:14] #4 closed

[2017-03-21 16:15] jbevain commented on #107
Closing this. Please re-open if you still have issues with 0.10.

[2017-03-21 16:15] #107 closed

[2017-03-22 04:08] marko-vasic opened #365 "Inserting instruction causes InvalidProgramException"
When I insert instructions in a method I get InvalidProgramException,
problem is that offset of relative jumps exceeds allowed limit.

In particular, there are brtrue_s surrounding the place where I am inserting instruction,
brtrue_s is a short form of a jump that accepts 1 byte as offset.
Since Mono.Cecil already resolves problem of changing jump addresses when instrumenting,
I was thinking that

[2017-03-22 16:58] jbevain commented on #365
That's a fairly common issue. Basically right now Cecil will happily generate the IL stream you provide, and if it overflows, well it overflows :)

The way to fix this right now is to call:

[code]

SimplifyMacros will transform all br_s into br, and OptimizeMacros will turn br into br_s if possible.

[2017-03-22 16:58] #365 closed

[2017-03-22 18:19] marko-vasic commented on #365
Thanks for the prompt reply.

I was in dilemma whether this is an issue or not.
The reason why I posted it as an issue is because Cecil
is currently automatically fixing branch offsets when inserting instructions in a middle,
so I thought it might should do the same for offset overflows.

Where should I in future send questions like this?

[2017-03-22 22:06] jbevain commented on #365
We use the [Mono.Cecil Google Group](https://groups.google.com/forum/#!forum/mono-cecil).

[2017-03-26 08:49] CameronAavik opened #366 "Trying to run a rewritten dll comes up with fatal error about missing hostpolicy.dll"
I've created a repo which I can use to reproduce the issue here https://github.com/CameronAavik/Cecil-Repro

Steps to reproduce:
1. clone, open the .sln in VS2017
2. build all
3. Run the rewriter project
4. Go to the Target's output directory
5. Run `dotnet Target2.dll`

Expected: Hello World printed to console
Actual: I get the following error printed to my console

Please note that the launchSet

[2017-03-26 17:29] jbevain commented on #366
Thanks for providing a repro, I'll look into it.

[2017-03-29 02:30] jbevain commented on #366
I don't think that's related to Cecil. If you copy Target.dll to Target2.dll without processing it with Cecil, and try to dotnet Target2.dll, you'll get the same error.

If I replace the freshly compiled Target.dll by a rewritten Target.dll, I get a hello world.

[2017-03-29 02:30] #366 closed

[2017-03-30 19:59] joelmartinez opened #370 "DocCommentId using C# type aliases for built-in types (sometimes)"
TL;DR … we're [observing](https://github.com/mono/api-doc-tools/issues/51) some instances where the C# type alias is substituted in different sections of the code. Case in point (these values are being written to XML, thus the `&lt;`):

[code]
Note the subtle differences of `System#String,System#Object` and `string,object` in the two strings above.

I've pored over both my code, and the code of `D

[2017-03-30 20:07] jbevain commented on #370
Well I don't see anything in DocComentId that uses aliases, so I have no clue :)

Maybe the one with the alias are generated by another tool? In that case, we'd need to know the rules for using aliases.

[2017-03-30 20:11] joelmartinez commented on #370
They were both generated by `DocCommentId.GetDocCommendId` ... in two different parts of the code. Very strange, as I haven't found any indications that the value is being modified after this call (it's a big and complicated codebase :P ).

Ok, well that's fair, thanks for taking a look at it ... I was mainly just trying to see if there was some insight you might have had which could have answered

[2017-03-30 20:11] #370 closed

[2017-03-31 16:08] joelmartinez commented on #370
@jbevain just in case you were curious, wanted to ping you for FYI. I did eventually find the root cause of this issue, and it turns out that mono's compiler is emitting slightly different metadata on a few things. cecil is just (rightly) reporting what is on disk.

https://github.com/mono/api-doc-tools/issues/51#issuecomment-290731863

So to be clear, definitely not a cecil bug ... but wanted to

[2017-03-31 16:20] jbevain commented on #370
Thanks for the heads-up!

[2017-04-03 21:04] SL1-Kabutak opened #371 "AssemblyDefinition.Write fails in Unity 5.6"
I was testing out using Cecil to modify some assemblies for a project. It was working fine in my tests, but upon importing it to Unity 5.6 it now fails.

The line in Unity is:
`assemblyDefinition.Write(ms, new Mono.Cecil.WriterParameters() { WriteSymbols = true });`

The error is different depending on if I'm using one of the 0.9 series stable builds, or the new beta releases. However it is roughl

[2017-04-03 22:25] jbevain commented on #371
It means that Cecil fails to load either Mono.Cecil.Pdb.dll or Mono.Cecil.Mdb.dll to handle those forms of debug symbols. Are you sure you're deploying them correctly along with Mono.Cecil.dll?

Another thing to look at is that Unity ships and loads its own Mono.Cecil, so you might be hitting a conflict here.

I don't think that's a Cecil bug here, but likely more an environmental issue.

[2017-04-03 22:27] jbevain commented on #308
We're in the final stages of integrating 0.10 into Mono, MonoDevelop, and Xamarin products. The number of issues we're hitting is getting smaller and smaller, we should have the final 0.10 in a few short weeks.

[2017-04-03 22:29] onovotny commented on #308
@jbevain are embedded ppdb's supported by Mono.Cecil now?

[2017-04-03 22:30] jbevain commented on #308
@onovotny, since 0.10-beta5 they are, yes.

[2017-04-03 22:32] SL1-Kabutak commented on #371
I'll look into it tomorrow morning and reply here. Hopefully it is that simple to solve. It doesn't seem possible to access Unity's Mono.Cecil, so the external .dll is necessary. I'll double check that everything is set up properly. Just struck me as odd since it worked in previous versions of Unity.

[2017-04-04 14:46] SL1-Kabutak commented on #371
It seems that the problem has been solved by rebuilding and adding a new copy of the main .dll, mdb.dll and pdb.dll. I'm not sure why it worked in one version and failed in the next, but it seems to be working now.

Thanks for the insight, I'll close this off. Sorry about that!

[2017-04-04 14:46] #371 closed

[2017-04-06 10:58] rolfbjarne opened #372 "Support not putting the full path to the pdb in assemblies"
Cecil writes the full path to the pdb here: https://github.com/jbevain/cecil/blob/7297b51/Mono.Cecil.Cil/PortablePdb.cs#L304

Supporting a way to only write the filename would fix this: https://bugzilla.xamarin.com/show_bug.cgi?id=54578

Roslyn has a similar issue: https://github.com/dotnet/roslyn/issues/9813

[2017-04-09 15:18] ChristopherVB opened #374 "Wrong output of FullName property for TypeDefinitions representing nested types"
When retrieving the FullName property of a TypeDefinition for a nested type, the seperator char for parent and child class is a '/' instead of a '+'.

Reflection API uses the '+' instead.

![full-name-bugged](https://cloud.githubusercontent.com/assets/16366149/24838455/7ed4e4c4-1d48-11e7-83a9-8f6791c05561.PNG)

[2017-04-09 16:51] jskeet opened #375 "Make the "stream must be readable and seekable" requirement clearer?"
When trying to read a module with a zip-based stream, I ran into an exception:

[code]

I was able to fix this easily by copying it into a `MemoryStream` and then passing that in - but it wasn't clear to me that I needed to do so, based on the error message. An error of "Stream must be readable and seekable" (identifying the parameter name of `stream`) would have been more useful, IMO.

[2017-04-09 17:18] ChristopherVB commented on #374
Changing separator char '/' to '+' in TypeReference.cs line 178 should fix it.

[2017-04-09 17:36] jbevain commented on #375
Another case of #154 :)

[2017-04-09 17:38] jbevain commented on #374
See #150 :)

[2017-04-09 17:38] #374 closed

[2017-04-10 00:02] KirillOsenkov opened #376 "Expose module Timestamp"
I see the `PE.Image` has a `Timestamp` but it's internal. Do you have plans to expose it?

[2017-04-10 00:04] jbevain commented on #376
Maybe? No one asked for it so far.

[2017-04-10 00:32] KirillOsenkov commented on #376
Yeah, I think MVID is better for all intents and purposes. Your call :)

[2017-04-10 00:44] jbevain commented on #376
Closing for now until we have an actual use case :)

[2017-04-10 00:44] #376 closed

[2017-04-10 20:20] xoofx opened #377 "Losing sequence points through MainModule.Import(method).Resolve() ?"
Hi @jbevain

I'm hitting a weird issue when trying to use `MethodDefinition.Body.Instructions[].SequencePoint`.

Accessing them directly through a type from the MainModule is fine.

But when I try to get the `MethodDefinition` through a import+resolve from this module, the sequence points are null. Wondering what is wrong...

[code]

[2017-04-10 20:27] jbevain commented on #377
The first thing I can think of is that if you're not passing your own IAssemblyResolver to your module, you're at risk of getting an assembly loaded by Cecil that is not your module.

As a rule of thumb, for anything not trivial, you should always be in control of the assembly resolution, otherwise it's possible that Resolve will load another ModuleDefinition (without symbols).

Note that Instruct

[2017-04-10 20:34] xoofx commented on #377
Hm, the AssemblyDefinition is loaded with my own `ReaderParams` + `DefaultAssemblyResolver` so that should be fine no or there is also something special for module?

It is a `System.Reflection.MethodInfo`

[2017-04-10 20:40] jbevain commented on #377
Have you registered your module into your assembly resolver?

Not exactly sure why this is protected:

https://github.com/jbevain/cecil/blob/master/Mono.Cecil/DefaultAssemblyResolver.cs#L41

But you need to tell the resolver how to resolve this particular module.

[2017-04-10 20:44] jbevain commented on #377
Also Import + Resolve is a super weird pattern. Why would you need to create a reference to a method into your module before Resolving it to a MethodDefinition? The Import seems somewhat superfluous.

[2017-04-10 20:53] xoofx commented on #377
🎉 The `RegisterAssembly` made the trick (so likely the assembly was loaded 2 times... Thanks!

It is mainly because the caller doesn't see that internally I'm using Cecil. So it is passing a MethodInfo to reference a method (and this MethodInfo can contain generic arguments)

[2017-04-10 20:53] #377 closed

[2017-04-11 11:29] stefandevo opened #378 "Mono 5.0 in XS/VS not compatible with Fody - out of memory exception when building on Cecil"
The 5.0 version of mono used in the latest preview release of Visual Studio for Mac and Xamarin Studio is incompatible with Fody (https://github.com/Fody/Fody). When using this the compiler runs out of memory:

[code]

Current solution is to revert to 4.8 in XS/VSforMac.

As per [https://bugzilla.xamarin.com/show_bug.cgi?id=55016](https://bugzilla.xamarin.com/show_bug.cgi?id=55016) this is a Cecil

[2017-04-11 14:19] jbevain commented on #378
I don't think this is directly a Cecil issue, it looks like an environmental issue where Fody ends up using a Cecil version that is not supporting portable pdbs and crashes trying to read them.

The stack trace points at an old version of Cecil (0.9) being loaded instead of the current one (0.10), which supports portable pdbs.

[2017-04-11 14:19] #378 closed

[2017-04-13 21:29] SplayConsulting opened #379 "Out of memory error in Xamarin build on Mac"
The following error happens when trying to build using Xamarin Studio on Mac....

Exception:
Out of memory
StackTrace:
  at (wrapper alloc) System.Object:AllocVector (intptr,intptr)
  at Microsoft.Cci.Pdb.MsfDirectory..ctor (Microsoft.Cci.Pdb.PdbReader reader, Microsoft.Cci.Pdb.PdbFileHeader head, Microsoft.Cci.Pdb.BitAccess bits) [0x000a5] in <d39e61ae2787473a851567b860d13696>:0
  at Microsoft.Cc

[2017-04-13 21:50] jbevain commented on #379
That's fixed in master and in 0.10-beta5.

[2017-04-13 21:50] #379 closed

[2017-04-14 00:28] #360 closed

[2017-04-18 23:03] jbevain commented on #372
Fixed by #380.

[2017-04-18 23:03] #372 closed

[2017-04-20 23:37] jim-laberge opened #382 "ModuleDefinition.FileName is empty string"
On the current post on the master branch, at line 1095 of ModuleDefinition.cs, we have:

		public static ModuleDefinition ReadModule (Stream stream, ReaderParameters parameters)
		{
			Mixin.CheckStream (stream);
			Mixin.CheckReadSeek (stream);

			return ReadModule (Disposable.NotOwned (stream), "", parameters);
		}

Should not the "" be stream.Name?   It is currently filled with the value I nee

[2017-04-20 23:42] jim-laberge commented on #382
OK, not stream.Name (which I could see in the debugger), but stream.GetFileName() extension method.  I did this and my code is working again.

[2017-04-20 23:46] jbevain commented on #382
@jim-laberge hey Jim, thanks for reporting this.

What you describe indeed makes sense but I'm curious as to what breaks you. Ideally I'd want a failing scenario for the suite and avoid regressing here. Could you provide details of what you're doing?

[2017-04-20 23:51] jbevain commented on #382
Will be addressed in #383.

[2017-04-21 00:22] #382 closed

[2017-04-21 00:22] jbevain commented on #382
Thanks for reporting this!

[2017-04-21 14:25] jim-laberge commented on #382
Sure.   I am doing a Microsoft "Object Browser" on steroids.   I did not know you guys were going to address the memory footprint, so I had already started some light-weight caching using SQLite.   I am using the absolute path of a module as a primary key, and I also key off of file last modified time and file size to see if I need to re-cache.

So, I need ModuleDefinition to be able to proffer a

[2017-04-21 16:39] jim-laberge commented on #382
I was rushing out the door this morning to get my winter tires changed to summer (hazard of Canada mountain driving), and I realize I might not have answered your question as well as I could have.

I have made a conscious decision to use the master branch and not the stable branch, so I chase changes to Interfaces implementations, and appreciate the [Obsolete] attribute on ModuleDefinition.FullyQu

[2017-04-21 17:20] jbevain commented on #382
Hi Jim,

Enjoy the summer in the Canada mountains!

Thanks for the details, originally I was just fishing for a scenario I could extract a test case from, but managed to do that on my own in the PR.

Don't hesitate to get in touch if you face any other issue!

Jb

[2017-04-27 10:41] reflection-emit opened #386 "VariableDefinition and Name property"
Can we have a Name property in the VariableDefinition type again please. This is very handy in certain situations. The names can be random initially, but it should keep the names we set while modifying the assembly. Identifying the variables by index is not possible sometimes.
<br/>
Imagine you have a program that adds different things to multiple methods. On the first run it adds a local variable

[2017-04-27 16:08] jbevain commented on #386
Unfortunately, there's no plan to add back a `string Name` property on `VariableDefinition`. The reason is that Cecil provides you with a view of the metadata, and from the metadata perspective, one VariableDefinition can have different names in different IL scopes.

[2017-04-27 16:08] #386 closed

[2017-05-04 14:03] atykhyy opened #389 "Expose comparison operations on TypeReference, MethodReference etc."
Code involving complex assembly modification or generation often needs to compare `TypeReference`, `MethodReference` and similar types for equality and/or use them as dictionary keys. Currently this involves duplication of code already present and used in Mono.Cecil\MetadataResolver.cs. Would you consider exposing these "official" comparison methods? As I see it, there are two options: (1) put the

[2017-05-04 19:13] sbomer opened #390 "Support writing pure IL for ready-to-run mixed-mode assemblies."
Since the netcoreapp packages are starting to ship with crossgen'd ready-to-run images, we need the [linker](https://github.com/mono/linker) to be able to work with R2R images. We'd like to be able to write back pure IL assemblies for linked R2R images.

Currently that doesn't work because of the check in [ModuleWriter.Write](https://github.com/jbevain/cecil/blob/007b6dcaaf5c52bb5b3efa658ba63b2aa5

[2017-05-04 21:40] jbevain commented on #389
Hey Anton,

There's work for the winmd support that needs something similar so I'd say yes, that's planned.

Thanks.

[2017-05-04 21:52] jbevain commented on #390
Two different things here.

1. ImageWriter.GetMachine is a relict from the time TargetArchitecture was an enum bot based in IMAGE_FILE_MACHINE_. Nowadays, the Machine field of the IMAGE_FILE_HEADER is read and cast to TargetArchitecture. We should just write the TargetArchitecture as the Machine field.

2. If you're reading a mixed mode assembly and writing it back as ILOnly, that's on you to:

[2017-05-04 23:01] sbomer commented on #390
I made the quick fix you suggested in 1: https://github.com/jbevain/cecil/pull/391.

Regarding 2:
Just to be clear, you're suggesting that this should be handled in the linker, and that you don't want cecil to contain knowledge of the R2R values from the COFF header, correct? If so feel free to close this and I'll try what you suggested.

[2017-05-04 23:52] jbevain commented on #390
1. Thanks

2. The logic you suggest adding in the PR is specific to your use case, so yes, I think it's better handled on your side of thing.

[2017-05-04 23:52] #390 closed

[2017-05-08 12:16] SimonCropp opened #395 "cant build net standard"
In VS 2015 i get
[code]

In VS 2017 i get

[code]

[2017-05-08 18:10] jbevain commented on #395
I think the VS 2015 issue is expected, if you want to build for netstandard you need to use VS 2017 and the MSBuild powered .NET Core.

The VS 2017 looks like a missing dotnet restore.

[2017-05-09 01:56] SimonCropp commented on #395
@jbevain thanks a `dotnet restore` fixed it

[2017-05-09 01:56] #395 closed

[2017-05-17 06:45] SimonCropp opened #397 "readonly nuget"
on the next release can a readonly variant of cecil be deployed as a nuget

[2017-05-18 11:44] haf opened #398 "Release non-beta nuget"
Hi @jbevain – it would be great if you could release a non-prerelease for .Net Core, so that I can release Expecto v5 https://github.com/haf/expecto/issues/165

[2017-05-20 00:56] keeper013 opened #399 "Exception happened during reading of pdb file in Mono"
Hi Jb Evain:

My project depends on Mono.Cecil, and in Travis CI build, I'm having trouble loading pdb file so I have to disable pdb file reading to make the build pass. Please find the piece of build log pasted below, the url of the build log is: https://travis-ci.org/keeper013/CrossCutterN/builds/234045369

Thanks.

Executing: mono /home/travis/build/keeper013/CrossCutterN/CrossCutterN.Test/bin/

[2017-05-24 15:38] jbevain commented on #399
This looks like related to the new portable pdb format that is only supported in Cecil 0.10.

Have you updated to Cecil 0.10?

[2017-05-24 15:43] jbevain commented on #398
Hey, what prevents you to release it with a reference to a 0.10 beta?

[2017-05-24 16:05] jbevain commented on #389
This will likely come as part of #394.

[2017-05-24 17:29] atykhyy commented on #389
Thanks for the update. The type and method reference comparers in #394 call Resolve() and compare definitions as the final step, which is a big difference from the reference comparers in MetadataResolver.cs. References may not always be resolvable to definitions - method/type not yet emitted, assembly not available etc. If I am not mistaken, the module writer currently writes type and method refer

[2017-05-24 21:26] haf commented on #398
Nuget bugs, see link.

[2017-05-24 22:05] SimonCropp commented on #398
If expecto doesn't expose Cecil types on its API surface then I would recommend ilmerge instead

[2017-05-24 22:37] jbevain commented on #398
That's indeed a good workaround.

[2017-05-24 22:39] SimonCropp commented on #398
@haf if u need any help i could submit a PR

[2017-05-25 09:06] haf commented on #398
ILMerge doesn't work cross platform in my experience.

[2017-05-25 09:08] haf commented on #398
I should also tell you that me and Enrico have implemented a workaround that makes it possible to build nugets again.

[2017-05-25 09:13] SimonCropp commented on #398
for the few cases that ilmerge has not worked i have found https://github.com/gluck/il-repack to work

[2017-05-31 21:29] pjbgf opened #403 "IL Generated is incompatible with MS ILAsm"
Trying to reassemble an IL file using MS ILAsm leads to the error below:
` error : syntax error at token 'System.Void' in:     IL_0006: call System.Void System.Console::WriteLine(System.String)`

The IL was generated by Instruction.ToString():
[code]

Notice that *System.Void* is an external type that is neither referenced by its CIL form *void* nor prefixed with the external assembly name *[Syste

[2017-05-31 21:32] jbevain commented on #403
Hi there! .ToString() is basically a helper to get a understandable string form for an object. In that case, it's definitely not meant to be valid IL that you can assemble. You'll need to write your own object model to IL printer.

[2017-05-31 21:32] #403 closed

[2017-05-31 21:34] jbevain commented on #403
There's super old bit-roted code there that you might find useful:

https://github.com/mono/cecil-old/tree/master/ildasm/Mono.Disassembler

[2017-06-01 06:22] pjbgf commented on #403
Thanks, JB, that was really useful.

[2017-06-02 02:32] bording opened #404 "Source link and embedded source lost when rewriting portable PDB"
Portable PDBs support both [Source linking](https://github.com/dotnet/core/blob/master/Documentation/diagnostics/source_link.md) and [embedded source](https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/specs/PortablePdb-Metadata.md#embedded-source-c-and-vb-compilers), however it appears that when Mono.Cecil writes a new PDB, this information is lost.

I've put together a p

[2017-06-02 15:21] jbevain commented on #404
Thanks for the repro, I'll have a look!

[2017-06-02 18:13] jbevain commented on #404
Will be fixed in #405.

[2017-06-02 18:13] #404 closed

[2017-06-02 18:17] jbevain commented on #399
Please re-open if you have the issue with the latest Cecil.

[2017-06-02 18:17] #399 closed

[2017-06-03 00:52] SimonCropp opened #406 "MemoryStream.GetBuffer doesnt exist in netstandard 1.3?"
I dont think MemoryStream.GetBuffer exists in 1.3? https://github.com/dotnet/corefx/issues/1897

so here https://github.com/jbevain/cecil/blob/master/Mono.Cecil/AssemblyReader.cs#L3217 i think we need the following
[code]

or am I missing something?

[2017-06-03 00:55] SimonCropp opened #407 "new project system"
would u accept a PR that converts the solution to the new 2017 csproj system?

Or perhaps u can just use the PR to inform how you would like to move over?

[2017-06-03 06:37] SimonCropp commented on #404
@jbevain just an FYI i smoke tested this on ~45 scenarios and everything looks good.

@bording i released Fody 2.1.0-beta0001 with this fix. can u verify?

[2017-06-03 06:51] cremor opened #408 "Modified release build assemblies can't load their symbols"
First let me say that I'm sorry that I can't provide a repro for this issue that just uses Cecil. I know nothing about its usage and found this problem by using [Fody](https://github.com/Fody/Fody). I was redirected here by @SimonCropp when I originally opened this issue in Fody/Fody#350. Accoring to him, Fody performs the same operations in debug and release, so it seems to be an issue in Cecil.

[2017-06-03 16:50] jbevain commented on #408
Hey,

Could you please upload the binary + pdb without weaving and with weaving,
so that I can take a look?

Thanks!

On Fri, Jun 2, 2017 at 11:51 PM, cremor <notifications@github.com> wrote:

[2017-06-03 18:07] cremor commented on #408
Sure. Here is an archive that contains both debug and release binaries and PDBs both with and without modifications from Fody. I've also included the source.

For some reason GitHub won't allow me to attach the zip to this issue, so I've uploaded it [here](http://s000.tinyupload.com/index.php?file_id=98331173699030250269).

[2017-06-03 18:20] jbevain commented on #408
Thanks, I'll look into it early next week!

On Sat, Jun 3, 2017 at 11:08 AM, cremor <notifications@github.com> wrote:

[2017-06-04 01:05] SimonCropp commented on #406
@jbevain want a PR for this?

[2017-06-04 19:51] terrajobst opened #411 "Error when decompiling .NET Standard 2.0 libraries"
Just tried to decompile a .NET Standard 2.0 binary using ILSpy. It crashes with this exception from Cecil:

[code]

This happens for .NET Standard 2.0 class libraries that are produced from File | New Project in VS. It could be related to the fact that they use the new portable PDB format.

[2017-06-04 21:23] jbevain commented on #411
ILSpy should update to Cecil 0.10 to handle portable pdbs, please report the issue there.

[2017-06-04 21:23] #411 closed

[2017-06-05 00:13] SimonCropp commented on #408
@cremor sorry i actually discovered a bug in fody to do with symbols production. can u re-verify on https://www.nuget.org/packages/Fody/2.1.0-beta0002

[2017-06-05 07:58] cremor commented on #408
@SimonCropp I've tested it with Fody 2.1.0-beta0003 and it indeed fixes the bug. Thanks!

@jbevain Since this isn't a bug in Cecil after all I'll close this issue.

[2017-06-05 07:58] #408 closed

[2017-06-06 01:00] bording opened #412 "New source link and embedded sources support not fully working"
It appears that the source linking and embedded sources support added in #405 might have some problems.

Using the FodyCecil release that incorporates those changes (since beta7 isn't out yet), I tested that my original repro was now working correctly. However, after trying it with a more complex assembly, I'm seeing problems with the resulting PDB.

I've updated my https://github.com/bording/Sour

[2017-06-06 14:27] lkinsella opened #413 "Framework64 returned for 32-bit images"
A project I'm working on walks the references of a given assembly and I'm curious how the resolver resolves some of the framework/GAC paths.

For example say I have a 32-bit assembly (explicitly set to x86) on 64-bit Windows. If I analyze the references I have mscorlib, System.Windows.Forms etc as expected. Now System.Windows.Forms points to a file under GAC_MSIL which is fair enough, but mscorlib

[2017-06-06 15:50] lkinsella commented on #413
Actually looking at the `BaseAssemblyResolver` it looks like you base this on the path of the assembly you resolve `object` to and only in the case of mscorlib, so i'm pondering just _patching_ the path to the 32-bit variant in this instance.

[2017-06-06 15:53] jbevain commented on #412
Thanks, I'll have a look!

[2017-06-06 16:02] jbevain commented on #413
2 thoughts:

* You can always provide your own resolver to workaround any issue the base one might have.
* In that case I think it might makes sense to support that scenario in the BaseAssemblyResolver.

Care to provide a PR?

[2017-06-06 17:39] lkinsella commented on #413
Out of curiousity I looked at ILSpy and on the surface it seemed to be working correctly, it'd return `GAC_32\...\mscorlib.dll` for my x86 binary.

Looking at their code it seems they use a variant of your `GACInterop` that resolves `AssemblyNameReference` to a GAC entry.

However digging deeper there's an issue and it affects the Cecil code as well. Basically it's a first-wins scenario so it reac

[2017-06-07 23:13] #375 closed

[2017-06-07 23:19] #406 closed

[2017-06-07 23:20] jbevain commented on #406
Fixed to avoid 2 code paths.

[2017-06-07 23:23] jbevain commented on #412
Hey @bording, the repro are failing for a fresh checkout as the rabbitmq pdb file is missing in the libs directory.

[2017-06-07 23:28] bording commented on #412
Oops, sorry about that, the .gitignore file prevented them from being included in the commit and I didn't notice! They should be there now.

[2017-06-08 10:40] Esardes opened #415 "nuget package target .net=4.5"
Hope a ticket is a right place for this issue

When I download package v0.9.6 with target .net 4.5 (`Install-Package Mono.Cecil -Version 0.9.6`), I get the warning/runtime error:

Same thing for Mono.Cecil.Pdb/Mdb/Rocks

[2017-06-08 10:46] SimonCropp commented on #415
Just an FYI, support for .net 4.5 has ended. https://blogs.msdn.microsoft.com/dotnet/2015/12/09/support-ending-for-the-net-framework-4-4-5-and-4-5-1/

[2017-06-08 15:00] jbevain commented on #415
You need to update to 0.10 using the guides provided at http://cecil.pe, this is fixed. Thanks!

[2017-06-08 15:00] #415 closed

[2017-06-09 02:17] nhanqv opened #417 "System.TypeLoadException"
I have classes as following

    public class EntityClass
    {
        public int IntValue { get; set; }
    }

    public class AbstractDao<T>
    {

    }

    public class DaoClass<T> : AbstractDao<T>
        where T : new()
    {
        public T GetValue()
        {
            return new T();
        }
    }

    public class AbstractCommandClass<T, U>
        where T : AbstractDao<U>

[2017-06-09 16:23] jbevain commented on #417
I'm afraid I can't debug for you :)

Please provide a self-contained repro.

[2017-06-09 16:23] #417 closed

[2017-06-10 09:11] matthid opened #418 "Q: Strong Naming API on netstandard 2.0?"
I noticed that the strong naming capabilities are not available on the netstandard 1.6 build.

Will there be (once netstandard 2.0 is out) a build of mono.cecil supporting this scenario?
Or is this part considered obsolete and not maintained anymore? (Or are users redirected to the full build)

[2017-06-12 17:51] jbevain commented on #418
I think .netstandard 2 has the API we need to provide strong naming.

[2017-06-12 17:51] jbevain commented on #418
Down the line I don't see why we couldn't have a .netstandard 2.0 build that includes that feature.

[2017-06-12 18:41] matthid commented on #418
Thanks

[2017-06-12 18:41] #418 closed

[2017-06-18 00:56] parthopdas opened #421 "Write overload with only WriteParameters throws exception"
Here is the repro code:
[code]
args[0] can be any .net assembly. Here is the exception it throws:

[2017-06-18 02:40] jbevain commented on #421
You need to pass ReadWrite = true in the ReaderParameters to read and write to the same stream.
Jb

On Sat, Jun 17, 2017 at 5:56 PM -0700, "Partho P. Das" <notifications@github.com> wrote:

Here is the repro code:
using Mono.Cecil;

namespace Repro1
{
    class Program
    {
        static void Main(string[] args)
        {
            var rp = new ReaderParameters { ReadSymbols = true };

[2017-06-18 04:27] jbevain commented on #421
You need to pass `ReadWrite = true` in the `ReaderParameters` to read and write to the same stream.

[2017-06-18 04:27] #421 closed

[2017-06-18 11:06] parthopdas opened #422 "cecil 0.10 appears to affect the pdb such that application doesnt get source file and line number in exception stack trace"
**TL;DR** This is a case where the debug information being emitted by cecil 0.10 seems unreadable by the application.

Couple of caveats
1. This is a CLR 2.0 project (cecil 0.10 does say it doesn't support .net 2.0 but since it supports .net 3.5 I am assuming CLR 2.0 should be OK)
2. There is another component in the picture where the root cause could be - xunit. However since only cecil changed f

[2017-06-18 13:08] parthopdas commented on #421
Spot on! Thanks for the quick response.

[2017-06-18 14:44] parthopdas commented on #422
This may not even be an issue. I'll close it for now with the following information.

Some additional information:
1. The xunit code does do any processing of exception. It invokes through reflection and catch the targetinvocationexception and then processes innerexception.
2. I verified the scenarios with the asmDef.Write overload that overwrites (i.e ReadWrite = true in ReadParameters) and the i

[2017-06-18 14:44] #422 closed

[2017-06-18 22:24] parthopdas commented on #422
Correction - this issue has been introduced with the change from cecil 0.9.x to 0.10.x. Hence it definitely has something to do with cecil 0.10.x. My best guess is the pdb path naming logic has changed in 0.10.x.

However the above scenarios are work fine with the changes.

[2017-06-20 00:03] SimonCropp opened #423 "WriterParameters.WriteSymbols on netstandard"
should it perhaps be `ifdef`d out or throw a `NotSupportedException`?

[2017-06-20 00:03] #423 closed

[2017-06-20 00:04] SimonCropp commented on #423
sorry was thinking  StrongNameKeyPair. which is already

[2017-06-20 21:58] SimonCropp commented on #308
@jbevain i know u r still working on the changes in .net (net standard, portable pdbs etc). but given for the vast majority of use cases ("desktop" .net, pcls, normal pdb/mdb etc) cecil is rock solid, i would be happy with a stable release as is.

[2017-06-22 21:06] MNie opened #425 "GetSequencePointMapping() throws Argument Exception"
It looks like GetSequencePointMapping method ([line 675 or 682](cecil/Mono.Cecil.Cil/Symbols.cs)) tries to add a duplicate to a dictionary what results with a lock on an exe file.
Issue: [Expecto.Adapter](https://github.com/adamchester/expecto-adapter/issues/17)
Steps to reproduce:
1. Create/Open F# project in Visual Studio
2. Install Expecto ( > 5.0) and Adapter (> 5.0)
3. run tests several times

[2017-06-22 22:45] jbevain commented on #425
Thanks for reporting this. I'll need an exe and a pdb which reproduces the issue to diagnose the best fix.

[2017-06-23 14:49] MNie commented on #425
[Here](https://github.com/MNie/MonoCecil425) You are :)
I also noticed that if project with specs is set to Console Application everything is correct. If it set to Class library this error occurs.

@jbevain

[2017-06-23 16:59] jbevain commented on #425
That's very curious! Thanks for the repro, I'll have a look!

[2017-06-24 00:09] bording commented on #412
@jbevain Is there anything else I can do to help investigate this?

[2017-06-29 18:05] akoeplinger opened #426 "Allow option to keep metadata tokens the same"
Over in https://github.com/mono/mono/pull/5102 I tried upgrading the cil-strip tool to a modern Cecil instead of the private years-old source copy we have.

Unfortunately this would break AOT compilation in Xamarin.iOS since when Cecil writes the assembly back out the metadata tokens would be different.

Do you have any idea how hard it might be to add an option for this to Cecil? Or some other wa

[2017-07-02 09:32] MNie commented on #425
Hi @jbevain!
How things are going on? Any information?

[2017-07-02 09:34] SimonCropp commented on #425
I think jb is travelling at the moment

[2017-07-04 00:42] TYoung86 opened #427 "TypeReference etype not set properly during writing assembly attributes and method parameters (maybe more)..."
For reference;
https://github.com/TYoung86/cecil/commits/6efee375659087fb31e81334f3d223a1d8d42d08

etype was almost always ElementType.None for primitive types, causing the assembly attributes to use non-standard references to system types in the core library (in this case, even referencing the System.Private.CoreLib)

the conversion of etype to a property that looks up when not set specifically r

[2017-07-04 16:55] lextm opened #428 "GetCorlib throws NotSupportedException while it should not for UWP assemblies"
I was digging into an Obfuscar user inquiry and came across this exception,

https://github.com/jbevain/cecil/blob/master/Mono.Cecil/BaseAssemblyResolver.cs#L228

I will try to prepare a small sample to illustrate the issue without Obfuscar so you might later do some debugging.

[2017-07-04 17:02] jbevain commented on #428
Hey,

Thanks. Yes, please provide a self contained repro. If it's UWP, it makes
sense that the BaseAssemblyResolver doesn't support resolving UWP .NET Core
assemblies.

Jb

On Tue, Jul 4, 2017 at 9:55 AM, Lex Li <notifications@github.com> wrote:

[2017-07-05 16:52] lextm commented on #428
Some update on my progress. Different Windows 10 SDK releases seem to have some impact on this. Also VS 2015/2017 have different project structures and results. So how exactly should Mono Cecil/Obfuscar work on the assemblies is still unknown. I ran out of my spare time yesterday but no conclusion yet. I would spend some more time this weekend and get back if there is clearly something we can do a

[2017-07-07 10:34] xaviergxf opened #430 "How to get All assembly References"
Hi @jbevain! I have a ProjectA that has a reference to ProjectB which contains a whole lot of references. My goal is from ProjectA be able to list all assemblies that ProjectB would have deployed in its output folder(ex:bin\net461\win7-x64). Currently i have be able to retrieve some assemblies but not all of them, i cannot retrieve the .net standard assemblies. Here's my method:

[code]

Can you h

[2017-07-07 16:37] jbevain commented on #430
I don't think the default assembly resolver knows how to resolve net standard libraries of facades. You'll have to pass your own assembly resolver to handle them.

[2017-07-07 16:37] #430 closed

[2017-07-19 00:08] jbevain commented on #425
I can't reproduce the issue with the binaries you provided. There's no method in ConsoleApplication.dll for which GetSequencePointMapping is throwing.

[2017-07-19 00:08] jbevain commented on #428
I'm closing this for now. Feel free to re-open with a repro! Thanks!

[2017-07-19 00:08] #428 closed

[2017-07-19 01:13] jbevain commented on #412
That's fixed in #432. Thanks for the repro!

[2017-07-19 01:13] #412 closed

[2017-07-20 00:47] jbevain commented on #427
I'm not quite sure where to start here.

Do you have a failing test case?
An assembly that doesn't round trip properly?

[2017-07-20 01:01] jbevain commented on #425
Closing this for now. Feel free to re-open with a repro.

[2017-07-20 01:01] #425 closed

[2017-07-20 02:12] TYoung86 commented on #427
Yeah - I am at a state where the Vulkan.Binder project is starting to stabilize and work is getting calmer. I'll have some time to create a full test case.

It is a bit rambly, I must have been pretty tired when I originally wrote this...

The platform was .NET Core 1.1, reading as a base and attempting to produce a .NET Standard 1.6 targeted assembly.

I can write a demonstration test case showin

[2017-07-20 02:55] jbevain commented on #427
A test case would be great! Thank you!

[2017-07-20 03:17] jbevain commented on #427
But yeah, I was debugging the other day and noticed that ElementType.None was used for «we don't know, probably a class» at different places, which isn't great. Might not be an easy fix.

[2017-07-21 23:55] reflection-emit opened #433 "TypeReference.Resolve returns null on NetCore"
I encountered this with the following code:
`this.moduleDefinition.ImportReference(typeof(NotImplementedException)).Resolve()`

This code works fine for UWP and .NET 4.5.2 and higher, but not for NetCore.

Honestly I am not sure if this is a bug in Cecil or I am just missing something in NetCore.

[2017-07-24 21:06] joelmartinez opened #434 "NotSupportedException with UWP Component/Library"
I'm receiving a `NotSupportedException` error when I try to use mono.cecil on a universal windows component (.winmd), and it attempts to resolve `System.String`.

To reproduce the issue, I created a new uwp component library with the following simple class:

[code]
Then I created a simple console project, added the Mono.Cecil nuget, and implemented the following code

[code]
The following exceptio

[2017-08-09 02:35] jbevain commented on #434
The DefaultAssemblyResolver implements a (default) resolver to resolve assemblies for the full .NET Framework. It's not aware of the Windows SDK or other forms of assemblies (.NET Core, Silverlight, etc).

So having this fail is not surprising.

There's no UWP builtin resolver, so you'll need to write your own. You can start with this one, which may be incomplete:

https://github.com/jbevain/cecil

[2017-08-09 16:20] jbevain commented on #434
@joelmartinez I'd rather not have that logic in the DefaultAssemblyResolver for now. There are multiple things at play, you could have different versions of the Windows SDK, I'm not familiar enough with those to add those directly to this relatively core type.

Right now I strongly suggest keeping things separate in another assembly resolver.

[2017-08-10 12:04] TheNetStriker opened #436 "Wrong method types when resolving interface"
I'am trying to build an application that analyzes assemblies and checks if all interfaces are integrated correctly and I think I found a bug in Cecil. I've created a test assembly containing the following two classes:

[code]

In my application I loop through all modules and Types of this assembly and check if every interface is implemented:

[code]

When checking the TestClass using this code eve

[2017-08-10 16:24] jbevain commented on #436
I'm not sure I understand what you're describing. In the code you show, if I add a `Console.WriteLine(ifaceMethod)`, I get:

[code]

Which makes sense, they're method definitions, they're not generic instances.

So what's the problem?

[2017-08-10 17:24] TheNetStriker commented on #436
Sorry I forgot to mention a vital part of my application. I'am also using the code from the following GitHub Project to replace the GenericArguments with the effective types used by the current class:
https://gist.github.com/tomspilman/99ddac3b60f72814c6e5

The problem is that this code modifies the cached TypeDefinition itself, so it only works for the first IEnumerable that is loaded. (In this c

[2017-08-10 17:28] #436 closed

[2017-08-10 17:29] jbevain commented on #436
Sure, just don't mutate the type. Just return the argument mapping to the position of the parameter.

[2017-08-11 16:49] jbevain commented on #434
I'm going to close this as I don't think this is a really a bug. Feel free to continue our email thread if you have anymore question!

[2017-08-11 16:49] #434 closed

[2017-08-11 16:52] jbevain commented on #433
Could very well be related to #306.

[2017-08-16 00:52] keeper013 opened #437 "StrongNameKeyPair property is missing in WriterParameters class in version 1.10.0-beta6"
Is support to strong name going to be removed?

[2017-08-16 00:53] SimonCropp commented on #437
isnt it only removed in the netstandard version?

[2017-08-16 00:57] keeper013 commented on #437
Indeed my project is a netstandard dll, could I ask for the reason to remove it for netstandard version?

[2017-08-16 00:58] SimonCropp commented on #437
AFAIK the underlying APIs that the cecil StrongNameKeyPair functionality uses have not yet been ported to netstandard

[2017-08-16 01:00] keeper013 commented on #437
Thanks for the swift answer.

[2017-08-16 01:01] SimonCropp commented on #437
this may have changed in netstandard 2. but i have into looked into it

[2017-08-28 11:53] asbjornu opened #438 "Error resolving assembly on fileshare"
I have a command line program that uses Cecil to generate an assembly and when this program is invoked with file share paths (such as `\\Fileshare\Path\To\Project.exe` instead of `Y:\Path\To\Project.exe`), Cecil blows up with the following exception:

[code]

For various reasons, I'm running Visual Studio from a file share, which causes build macros such as `$(SolutionDir)` to point to `\\Fileshar

[2017-08-28 18:04] lextm opened #439 "Discussion on type forwarding and its impact on assembly references (.NET Standard 2.0)"
A simple .NET Standard 2.0 class library from Visual Studio 2017 would contain a single assembly reference to `netstandard.dll`. This assembly forwards all necessary types to individual assemblies behind the scene (`System.Runtime` for example).

After commits such as [this](https://github.com/jbevain/cecil/commit/83cd2d7c215c54cb7f3c789747b96edb69fe0ce8) Cecil can correctly resolves the type refe

[2017-08-28 18:11] jbevain commented on #439
It can certainly be avoided. Please create a small repro project and I'll have a look at it.

Thanks!

[2017-08-28 18:55] lextm commented on #439
[CecilTest.zip](https://github.com/jbevain/cecil/files/1257858/CecilTest.zip)

Attached is a simple project. `NetStandard20.dll` is compiled from the default .NET Standard 2.0 class library template. CecilTest loads it into memory, and adds an assembly attribute `SuppressIldasmAttribute`.

You can see the assembly reference count increases from 1 to 2.

[2017-08-28 20:36] jbevain commented on #439
Thanks, I'll look into it!

[2017-08-28 21:52] jbevain commented on #439
Ok looking at the sample, the current behavior makes sense: you ask Cecil to create a MethodReference from the System.Runtime assembly, you get a reference to System.Runtime.

You'd need to build something on top of the existing `DefaultMetadataImporter` that understands `netstandard`. There's nothing builtin that allows you to navigate a type forwarder backwards. So from a type in System.Runtime,

[2017-08-28 23:05] lextm commented on #439
Thanks for pointing out the usage of importer. I will try to build a custom one to see if it can remove the extra assembly reference.

[2017-08-28 23:05] #439 closed

[2017-08-29 13:41] marek-safar opened #440 "MethodImplAttributes is missing AggressiveInlining value"

[2017-08-29 23:11] matthid commented on #398
What's missing for a stable release?

[2017-08-30 06:52] #398 closed

[2017-08-30 06:52] haf commented on #398
Closing because I've worked around this issue.

[2017-08-30 12:17] reflection-emit commented on #433
I tried that solution, but DependencyContext.Default also returns null... So the whole resolver does not work.

[2017-08-30 14:35] joelmartinez opened #441 "Search directories don't search subfolders"
The [`BaseAssemblyResolver.SearchDirectory`](https://github.com/jbevain/cecil/blob/7297b51edcb62ffbfdbf50de7006694e12c96633/Mono.Cecil/BaseAssemblyResolver.cs#L156) method only searches for assemblies in the directories explicitly added via `AddSearchDirectory`.

I was wondering if there was an explicit reason that it didn't check all subdirectories?

The existing code could easily be modified to

[2017-08-30 15:59] jbevain commented on #441
That would push everyone else in the pit of regression :)

For WinRT, the best path to success would be an assembly resolver for this scenario.

[2017-08-30 15:59] #441 closed

[2017-08-30 16:06] joelmartinez commented on #441
Understandable :) I can implement this in my custom resolver

[2017-08-30 20:30] #440 closed

[2017-09-08 10:45] alex-bogomaz commented on #425
Hello @jbevain .
Please look into this issue once again.
Here is the binary on which this issue is reproduced:
https://github.com/alex-bogomaz/ExpectoAdapterCecilIssue/blob/master/ExpectoAdapterCecilIssue/bin/Debug/ExpectoAdapterCecilIssue.dll .

Following code:
[code]
fails with exception:
[code]
Erroneous MethodDefinition is:
[code]
Software version:
[code]
Related ExpectoAdapter issue:
https://

[2017-09-08 17:58] jbevain commented on #425
@alex-bogomaz thanks for the repro!

[2017-09-08 19:09] FGS-BMarkham opened #443 "Corrupted TableHeap Reads"
Greetings. The bug I am attempting to describe has a lot of context, but I'll try to be succinct. (I'm happy to provide more details as needed, although without extra red tape at my organization I probably can't provide entire input Dlls.)

I have a .NET 4 (4.6.1) Dll that Cecil is failing to load correctly. If I make small code changes and recompile, sometimes Cecil can read the Dll. (It is frust

[2017-09-08 21:00] jbevain commented on #443
Hello !

Well that sounds like it's going to be a fun one.

Really the best way to move forward would be to have access to the offending DLL or a repro of it. We could look into having the DLL under NDA for instance.

One thing you can try to do is to use `dumpbin -all` to see the different parts of the PE, that might give a clue as to what confuses Cecil.

[2017-09-11 08:25] ctemple opened #445 "Cli CodeWriter.cs parameter index has issue"
code like this:
...processor.Emit(OpCodes.Ldarg_S, processor.Body.GetParameter(i));
insert code & save & read,Method.Parameters damaged

check for errors

CodeWriter.cs
int GetParameterIndex (ParameterDefinition parameter)
		{
			if (body.method.HasThis) {
				if (parameter == body.this_parameter)
					return 0;

				return parameter.Index + 1; // <<<<<<<---------------
			}

			return parameter.I

[2017-09-11 12:56] uhrm commented on #306
I've finally found some time to investigate the issue further. I've migrated to .NET Core 2.0 in the meantime. The following assembly resolver seems to work fine from the command line. I guess it should also work for published applications.

[code]

The basic strategy to find assemblies is as follows:

- Use the `System.AppContext.BaseDirectory` property for finding the path of project assemblies.

[2017-09-11 16:23] jbevain commented on #445
Hello! I'm not sure I understand the issue. Please provide a self-contained repro and re-open.

[2017-09-11 16:23] #445 closed

[2017-09-11 20:22] FGS-BMarkham commented on #443
I've gotten some local traction about possibly getting you under NDA to take a look. Do you mind if I email you about it?

[2017-09-11 20:27] jbevain commented on #443
Shoot!

[2017-09-12 16:13] bording commented on #306
@uhrm What about when an assembly is referenced directly from the global NuGet package folder? I'm not seeing anything that would handle that case.

[2017-09-12 18:29] Stevie-O opened #446 "ILParser.Parse and CodeReader non-reentrancy"
Short background: I wrote a tool that uses Cecil to load up one or more .NET assemblies and performs various types of static analysis on them. (It can also make some metadata tweaks and write out an updated version of an assembly.)

It was originally built using whatever version of Cecil was around in February 2015.  When I updated to the latest code, however, the tool failed miserably.

I was abl

[2017-09-12 19:55] uhrm commented on #306
@bording Unfortunately, I don't understand what that means... My (limited and incomplete) understanding of package management under .NET Core 2.0 goes only so far:

1. Assemblies from the .NET SDK are implicitly referenced and reside in the runtime directory.
2. NuGet packages are referenced using `<PackageReference Include="..." Version="..." />` and get copied into the base directory during buil

[2017-09-12 20:56] bording commented on #306
@uhrm This is the step I'm talking about. Assemblies from package references do not get copied into the base directory, though there is a setting you can add to your project to make this happen.

By default, those assemblies are directly referenced from their location in the global NuGet package folder.

If you look at the *..runtimeconfig.json file in the bin folder, you'll see that additional pr

[2017-09-13 20:38] erozenfeld commented on #306
@sbomer FYI

[2017-09-16 14:34] lextm opened #447 "InvalidCastException: Specified cast is not valid"
Attached is a small sample to reproduce this exception, which uses a certain version of Microsoft F# compiler (which should have not been obfuscated in any way).

This exception has been reported by Obfuscar users quite frequently,

https://github.com/lextm/obfuscar/issues/116

So it should happen to other assemblies (obfuscated or not).

[ConsoleApplication.zip](https://github.com/jbevain/cecil/f

[2017-09-16 21:45] jbevain commented on #447
Thanks for the repro, I'll look into it!

[2017-09-18 14:57] lkinsella commented on #413
Just following up on this, submitted a PR #416 back in June.

[2017-09-18 19:08] jasonwoods-7 opened #448 "Error reading PDB of VB.Net assemblies when namespace starts with 'A'"
When calling the get Body property on a MethodDefinition of some VB.Net methods when the assembly's namespace starts with an 'A', the following exception is thrown:

[code]

It looks like this error was introduced in Mono.Cecil v. 0.10.0-beta5.

I took a look at the PDB files generated by the VB compiler and they don't seem to do things the same way as C# does.  They seem to use an `@P:` instead o

[2017-09-18 19:54] jbevain commented on #448
Ahah, good catch. Thanks for the repro, I'll have a look.

[2017-09-22 11:02] facedbook commented on #282
I have a question about PdbFileHeader class, it seems not to support portable pdb format since the magic is "BSJB", not "Microsoft C/C++ MSF 7.00"

[2017-09-22 11:16] facedbook commented on #282
in NativePdbReader, the magic is 0x53445352

[2017-09-22 21:07] jbevain commented on #282
@facedbook NativePdbReader doesn't support Portable Pdb. You need to either use a PortablePdbReaderProvider or a DefaultSymbolReaderProvider to properly read the symbols.

[2017-09-27 22:06] jbevain commented on #446
Yeah good catch, we need to address that. Thanks for reporting this.

[2017-09-27 22:27] jbevain commented on #446
@Stevie-O could you try with the branch `fix-ilparse` that I've pushed?

Thanks!

[2017-09-27 23:09] jbevain commented on #448
Should be fixed in master. Thanks!

[2017-09-27 23:09] #448 closed

[2017-09-27 23:35] jbevain commented on #447
Should be fixed in master. Thanks!

[2017-09-27 23:35] #447 closed

[2017-09-27 23:35] jbevain commented on #438
Hey there. Nothing obvious. Have you tried debugging this?

[2017-09-28 01:13] lextm commented on #447
Good to know. It should help many Obfuscar users :)

[2017-09-28 11:53] facedbook commented on #282
@jbevain thank you for your answer! Sorry i don't know where to ask questions in github.  I want to port a c# coverage tool to support .Net Core.
		public void Initialize(string assemblyFilePath)
		{
            using (var pdbFileStream = File.OpenRead(Path.ChangeExtension(assemblyFilePath, "pdb")))
			{
                Dictionary<uint, PdbTokenLine> tokenToSourceMapping;
                string sv

[2017-09-28 16:34] jbevain commented on #282
@facedbook there's nothing builtin. The Portable Pdb support uses the Cecil object model to represent debug symbol.

You need to work with the method.DebugInformation.

[2017-09-29 09:42] per-samuelsson commented on #306
So can anyone kind make this more concrete for me.

**If...**
Under .NET Core 2.0, we have a simple application (i.e "myapp.exe") that reference a NuGet package (like... well, whichever), and we do **not** have some non-standard setting set ("...though there is a setting you can add to your project to make this happen").

**...then:**
We use Cecil to read "myapp.exe" from build output and want to

[2017-10-03 08:12] per-samuelsson commented on #306
Nevermind my previous question, I had to dig into it myself already to find out. I see how things fit together now. I'll do some experimenting with a custom assembly resolver for .NET Core (2.0). I'll update here if I find anything of value I guess.

[2017-10-03 09:51] per-samuelsson commented on #306
@jbevain

I might be missing something essential here, but I just can't see how the custom resolver posted [earlier](https://github.com/jbevain/cecil/issues/306#issuecomment-263157799) could have ever worked.

Basing it on `DependencyContext.Default.CompileLibraries`, will that not resolve to libraries of the **current application**? And if so, how often would you want to resolve references based

[2017-10-11 05:13] wsrf16 opened #451 "File is being used by another process"
Version : 0.10.0-beta6
----------------------------------------------------------------------------------------------------------
string assemblyFile = "xxx.dll";
AssemblyDefinition Assembly = AssemblyDefinition.ReadAssembly(assemblyFile, readParams);
Assembly.Write(assemblyFile);
----------------------------------------------------------------------------------------------------------
StackTrace:

[2017-10-11 16:43] jbevain commented on #451
Yes, please go through the breaking changes of 0.10 and their suggested fix:

http://cecil.pe/

[2017-10-12 03:19] wsrf16 commented on #451
Another question:
In version 0.10.0-beta6,I write AssemblyDefinition to new .dll file.But its size become smaller.

[2017-10-12 14:49] mrakgr opened #452 "Changing the IsValueType property does not do anything"
[code]

This is my first time using Cecil and I am not that familiar with .NET reflection, but I think the above is a bug. This is in the latest prerelease version on Nuget.

[2017-10-12 17:05] jbevain commented on #451
What's the question? :)

[2017-10-12 21:09] jbevain commented on #452
Hello,

Good catch, that is indeed a bug.

You need to set the TypeDefinition BaseType to `System.ValueType`

[2017-10-13 02:36] wsrf16 commented on #451
I just injected a .cctor into the .dll file.Shouldn't it be bigger?At least it became bigger in 0.96.

[2017-10-13 07:44] mrakgr commented on #452
Does that mean that the `IsValueType` property is supposed to be read-only?

[2017-10-13 17:00] jbevain commented on #451
Sometimes Cecil will serialize a dll in a more optimal fashion than the original compiler, sometimes not :)

[2017-10-13 17:05] jbevain commented on #452
For a `TypeDefinition`, yes. The BaseType of a TypeDefinition controls whether the type is a value type or not.

[2017-10-14 01:52] wsrf16 commented on #451
So it means I can use the smaller .dll safely?
Thx.

[2017-10-14 07:32] mrakgr opened #454 "How to get the methods of a GenericInstanceType?"
Could you take a look at [this](https://stackoverflow.com/questions/46731131/how-to-get-the-methods-of-a-genericinstancetype) SO question please?

[2017-10-14 18:19] jbevain commented on #451
You should always use `peverify` to verify that your modified binaries are at least correct, but yes.

[2017-10-14 18:19] #451 closed

[2017-10-14 20:40] mrakgr commented on #454
Please ignore that referenced issue, I tend to use the commits in that repo as a work diary.

[2017-10-15 08:49] mrakgr commented on #454
[code]

I had the idea that I might be able to use the `WeakConditionalTable` to perform the substitution explicitly, but generic parameters in the definition and the ones in the method have nothing to do with one another. I might be able to do it somehow if I knew how to establish a mapping between the two, but now I am once more unsure how to proceed.

[2017-10-18 17:30] jbevain commented on #454
Answered on SO.

[2017-10-18 17:30] #454 closed

[2017-10-22 22:28] SimonCropp opened #456 "cant build netstandard from source"
on master i get

[code]
 and a restore doesnt fix it

[2017-10-24 20:50] jbevain commented on #443
Closing this until we get more details.

[2017-10-24 20:50] #443 closed

[2017-10-24 20:51] jbevain commented on #446
Should be fixed in #457.

[2017-10-24 20:51] #446 closed

[2017-10-24 23:04] jbevain commented on #456
How do you build?

I do:

`
dotnet clean Mono.Cecil.sln /p:Configuration=netstandard_Release
dotnet build Mono.Cecil.sln /p:Configuration=netstandard_Release
`

Which seems to work here.

[2017-10-25 01:32] jbevain commented on #306
Fixed in #444.

[2017-10-25 01:32] #306 closed

[2017-10-25 01:33] jbevain commented on #433
Fixed in #444.

[2017-10-25 01:33] #433 closed

[2017-10-27 15:50] kaby76 opened #458 "/nostdlib built assembly that doesn't define version crashes Cecil"
This is a request.

I'm using Cecil to read and decompile CIL for JITing to GPU code. Unfortunately, I have to write a NET runtime for the GPU. I have chosen to modify the DotNetAnywhere anywhere runtime to work on a GPU as it is the smallest, most useful version I can find. Unfortunately, Cecil crashes when reading the DotNetAnywhere corlib.dll library itself, in LoadModule() -> ... -> Mono.Cecil

[2017-10-27 22:02] jbevain commented on #458
Fixed in master. Thanks!

[2017-10-27 22:02] #458 closed

[2017-10-28 19:01] kaby76 commented on #458
Thanks for the update! Just in case others plan on using /nostdlib and making up their own BCL, it turns out the version can be specified in the csproj, e.g., "<RuntimeMetadataVersion>v4</RuntimeMetadataVersion>". It seems you can set it to be almost anything, albeit Cecil may not parse the string, and you get a warning during the build if you don't set it.

[2017-10-29 03:19] SimonCropp commented on #456
My error was from withing VS. but u r correct command line works and will suffice for my requirements

[2017-10-29 03:19] #456 closed

[2017-10-29 03:20] SimonCropp commented on #456
oh and thanks :)

[2017-10-30 22:51] jbevain commented on #452
Fixed in master. Thanks for reporting this!

[2017-10-30 22:51] #452 closed

[2017-11-03 00:06] KirillOsenkov opened #459 "Mono.ArgumentNullOrEmptyException resolving a member from FSharp.Core.dll"
Reference Mono.Cecil for .NET 4.0 and use this repro code:

[code]

Use this code to open https://www.dropbox.com/s/0gu1p4q5ojs60ic/FSharp.Core.dll?dl=0

**Expected:** shouldn't crash?

**Actual:**
Mono.ArgumentNullOrEmptyException occurred
  Message=Argument null or empty
Parameter name: name
   at Mono.Cecil.Mixin.CheckName(String name) in C:\cecil\Mono.Cecil\ModuleDefinition.cs:line 1187

[code

[2017-11-03 01:05] jbevain commented on #459
Thanks for reporting this!

[2017-11-03 01:05] #459 closed

[2017-11-03 01:08] KirillOsenkov commented on #459
WOW you're fast!

[2017-11-03 11:27] otto-gebb commented on #425
@jbevain  Can we get a NuGet package with this fix? Expecto VS adapter doesn't work without it.

[2017-11-03 23:36] tmat opened #460 "Portable PDB: Missing representation for some CDI"
```CustomDebugInformationKind``` defines ```DynamicVariable``` and ```DefaultNamespace``` kinds but the corresponding CDI classes are missing:

- DynamicVariableDebugInformation
- DefaultNamespaceDebugInformation

[2017-11-03 23:40] tmat opened #461 "Portable PDB: StateMachineScopeDebugInformation API is incorrect"
The current API is:

[code]

but should be something like:

[code]

See spec: https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/specs/PortablePdb-Metadata.md#StateMachineHoistedLocalScopes

[2017-11-03 23:44] tmat opened #462 "Portable PDB: AsyncMethodBodyDebugInformation API is incorrect"
The current API is

[code]

but should be:

[code]

See implementation: https://github.com/dotnet/symreader-portable/blob/610fc42a0f04f10696a11f816d3d3d5365df74e0/src/Microsoft.DiaSymReader.PortablePdb/SymMethod.cs#L377

[2017-11-03 23:56] tmat opened #463 "Portable PDB: Document API"
Currently ```Document``` is used to represent a source document parsed from both Windows and Portable PDB.

The API is following:

[code]

A few issues with this API shape:
1) ```Type``` and ```LanguageVendor``` are only in Windows PDBs. They are not present in Portable PDBs.
2) ```Type```, ```HashAlgorithm```, ```Language```, ```LanguageVendor``` are stored as GUIDs in Windows and Portable PDBs a

[2017-11-05 12:55] mrakgr opened #464 "Getting generic arguments and the path of an assembly SO questions."
Hello, could you please take a look at these two SO questions and give them your input. Sorry if opening an issue here is redundant, but last time I had to wait a while for an answer so I am not sure whether you check Mono.Cecil tags on SO regularly.

https://stackoverflow.com/questions/47121748/how-to-get-the-generic-arguments-of-a-typereference
https://stackoverflow.com/questions/47119802/how-to

[2017-11-06 20:22] jbevain commented on #464
It sounds like you need to purchase a Service-level agreement?

The README directs questions to the `mono-cecil` Google Group.

[2017-11-06 20:29] mrakgr commented on #464
Noted and I'll keep it in mind if I have any follow up questions, but I feel that SO has a much better format and searchability for these kinds of questions than Google Group. Besides, I am not in a hurry - I'll be able to replace the inbuilt reflection with `Mono.Cecil` assuming I can figure out how to get the generic arguments of a type reference.

[2017-11-06 22:52] #464 closed

[2017-11-06 22:54] #437 closed

[2017-11-11 00:52] keeper013 commented on #437
Hi @jbevain , it seems strong name key is still not supported for NET_CORE, does it mean mono.cecil has no plan to support strong naming for netstandard? Thanks.

[2017-11-11 04:52] jbevain commented on #437
Hi @keeper013, right now that is correct.

[2017-11-13 14:22] ArsenShnurkov opened #465 ".pdb files creation on linux platforms"
Is it still unimplemented and what are plans on this?

<a href="https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/specs/PortablePdb-Metadata.md">Portable PDB v1.0: Format Specification</a>
<a href="https://llvm.org/docs/PDB/">The PDB File Format (llvm documentation)</a>
https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/PEWriter/MetadataWriter.Portab

[2017-11-13 18:39] jbevain commented on #465
Portable PDBs are supported accross all platforms.
Native PDBs can currently not be written on non windows platforms, and I have no immediate plan to implement that.

[2017-11-13 18:39] #465 closed

[2017-11-16 23:02] #462 closed

[2017-11-16 23:03] jbevain commented on #460
I think that's ok for now, they'll be roundtripped and preserved as a BinaryCustomDebugInformation.

[2017-11-16 23:17] jbevain commented on #461
@tmat, in the spec, hoisted-variable-count is a compressed uint32?

[2017-11-16 23:37] #461 closed

[2017-11-16 23:37] jbevain commented on #461
Fixed in master, thanks!

[2017-11-28 13:24] atykhyy opened #470 "Support for cross-TFM type import in `DefaultReflectionImporter`"
I have been using Cecil for cross-TFM assembly modification (e.g. `net45` process editing `netcore2.0` assemblies). To enable smooth importing of types across TFMs (where semantically identical types can live in different assemblies), I substitute a customized `IReflectionImporter`. This works well, but unfortunately the key method `AssemblyNameReference DefaultReflectionImporter.ImportScope (SR.A

[2017-11-28 15:57] rizi opened #471 "GetValue from Method Call"
Hi, is it possible to get the current value of a method call. I want to do the following assure that each . ConfigureAwait() is called with false, so . ConfigureAwait (false). There is never a variable involved, so it's either true or false, is there a way to archive that? Thx in advance

[2017-11-28 15:57] rizi opened #472 "GetValue from Method Call"
Hi, is it possible to get the current value of a method call. I want to do the following assure that each . ConfigureAwait() is called with false, so . ConfigureAwait (false). There is never a variable involved, so it's either true or false, is there a way to archive that? Thx in advance

[2017-11-28 15:57] #471 closed

[2017-11-28 18:17] SimonCropp commented on #472
I suspect the code u need would be somewhere in here https://github.com/distantcam/ConfigureAwait

[2017-11-28 18:37] jbevain commented on #472
Please use the google group instead of github issues to ask questions related to the usage of Cecil, that gives the question exposure to a lot more people.

You'll need to analyze the IL and find a pattern where false will be pushed on the stack before calling ConfigureAwait.

[2017-11-28 18:37] #472 closed

[2017-11-29 23:10] jbevain commented on #470
Please go ahead and submit a PR with the patch. Thanks!

[2017-11-30 01:02] SimonCropp commented on #437
@jbevain is it still not possible in netstandard2?

[2017-12-04 21:02] reflection-emit commented on #433
Yap I can confirm... It works now.

[2017-12-15 10:55] per-samuelsson opened #476 "Question: can I clone a method (in same type)?"
Consider this:

[code]

Having the `TypeDefinition`, what would be recommended approach to *clone* the `Bar()` method, allowing me to use the clone as a starting point for modifying its instructions?

The most obvious approach seemed to me to be this:

[code]

However, if I now *modify* the body of the clone, I also **modify the body of the original**. Since they reference the same instance.

Trie

[2017-12-15 10:59] per-samuelsson commented on #476
And to be clear, doing something like this:

[code]

will not allow me to modify other stuff of the cloned body, since many properties are read-only. And I suspect I need that to satisfy a fully verifiable assembly?

[2017-12-15 19:03] jbevain commented on #476
Yeah there's nothing builtin to clone metadata or IL I'm afraid, you'll need to fully recreate a Body method, and fully recreate Instructions, as those can be modified when writing.

[2017-12-18 07:24] per-samuelsson commented on #476
OK, @jbevain, thanks! Just knowing that helps.

[2017-12-18 07:24] #476 closed

[2017-12-19 11:12] SimonCropp commented on #476
@per-samuelsson  just a note on if u do attempt this. both `async` and `yield` result in state machines being generated. these state machines are specific to the method they are used in. so when u clone u may also need to clone the state machine, depending on your requirements.

[2017-12-30 23:25] mazegen opened #478 "Understanding the MDB loading process"
I'm new to cecil and I'm trying to understand the MDB loading process. As far as I can tell, it goes this way (starting in `ModuleReader` class):

    CreateModule()
    - ReadSymbols()
      - new DefaultSymbolReaderProvider
      - DefaultSymbolReaderProvider.GetSymbolReader()
        - SymbolProvider.GetReaderProvider()
        - MdbReaderProvider.GetSymbolReader()
          - MonoSymbolFile.Re

[2018-01-12 14:51] spouliot opened #480 "Better reporting when loading invalid debug symbols"
It's hard to report an accurate description of what went wrong when bad symbols are loaded.

Right now we (XI/XM) workaround this with:
https://github.com/xamarin/xamarin-macios/pull/3203/files#diff-18af9c31adf82a237cb45f1284bb2b3eR89

which is _fragile_ (at best) and I'd like a better way. I'll propose a PR with an easy solution _soonish_ but I'm open to suggestions :)

More details in
* https://

[2018-01-17 08:52] EFLFE opened #482 "IndexOutOfRangeException for obfuscated assemblies"
An error appears when open the obfuscated assembly. This may be logical for a secure assembly, but because of this error breaks the ILSpy ([when searching](https://github.com/icsharpcode/ILSpy/issues/1031)).

![img](https://camo.githubusercontent.com/9e3476b3eb850aea5099ab266cf9da88cc02650e/68747470733a2f2f692e696d6775722e636f6d2f35344c444f41582e706e67)

What I did: I used the ConfuserEx with one

[2018-01-17 09:09] bprg commented on #482
cecil doesn't support obfuscated assemblies.

[2018-01-17 19:16] jbevain commented on #482
Yeah that assembly is completely broken. I suggest ILSpy protects against that because it seems like we can throw from a thousand places with an assembly like that.

[2018-01-19 16:51] solidDoWant opened #483 "Massive lack of documentation"
This project lacks almost any documentation. Can somebody who knows in detail how it should be used/what each of the methods and properties do add some documentation and/or comments? I'm trying to use this on one of my projects, but I honestly have no idea what half of the code does. The three examples on the wiki don't really cut it.

[2018-01-19 19:32] jbevain commented on #483
Well we all do what we can with the time we have. Feel free to invest in exactly what you're asking :)

[2018-01-19 19:32] #483 closed

[2018-01-19 20:08] solidDoWant commented on #483
I would but without documentation I can't learn the framework - and if I cant learn the framework I can't document it.

[2018-01-31 20:49] SteveGilham opened #485 "Assemblies written by Mono.Cecil implicitly claim to have been built by VS2005"
This got spotted by running a scan for places where old tools were still being used in production, which picked up Cecil-modified artifacts as one class of false-positive.

If I build a C# assembly with VS 2017, running `dumpbin /headers` gives (amongst a few screens-full of other data)
[code]
Running the dumpbin tool on the result of loading that assembly into Cecil and then writing it out to a n

[2018-01-31 21:08] jbevain commented on #485
Hello Steve,

Thanks for reporting this. Do we really care? I imagine we could preserve the linker version, but this has no impact on the viability of the resulting assembly.

[2018-02-01 15:34] SteveGilham commented on #485
The requirement is, I agree, somewhat recherché; but it is one of those things that, if it becomes an issue is an issue.  In the particular case I have encountered this, a security audit based on checking for code displaying known-insecure linker versions triggered on Cecil-rewritten assemblies.

The simplest possible technical resolution would be not to claim any linker version at all e.g. by zer

[2018-02-02 07:29] per-samuelsson commented on #476
@SimonCropp

Thanks a lot for pointing that out. I'll make sure to cover those cases in tests. At this point, I think we only have need to move `.ctor` bodies, so not sure how they apply to that. But I'll sure do some research on it now you've mentioned it. 👍

[2018-02-02 10:14] per-samuelsson opened #487 "Resolving package references in .NET Core not supported?"
In https://github.com/jbevain/cecil/issues/306#issuecomment-339185862, #306 was closed as "done" (via #444), but exactly to what extent was that? Or rather: what capabilities are to be expected by the built in assembly resolver for .NET Core?

Reason I'm asking is I see even latest version (beta 7) fail on resolving ***package** references*.

I set up this rather simple scenario, and it fails pred

[2018-02-03 03:07] SimonCropp commented on #487
will you manipulating the target assembly in the context of MSBuild?

[2018-02-03 12:43] per-samuelsson commented on #487
That's the idea, yes. But it's not isolated to that scenario, as the sample illustrate. And I will definitely do all I can to stay away from implementing any type of custom task. 😄

[2018-02-05 17:43] jbevain commented on #487
I think the assembly resolver for .NET Core assumes the published case, where all package references are copied in the target directory.

[2018-02-05 17:45] jbevain commented on #485
Fixed in #486.

[2018-02-05 17:45] #485 closed

[2018-02-06 07:16] per-samuelsson commented on #487
Is that [BaseAssemblyResolver](https://github.com/jbevain/cecil/blob/3145301c039bfef6f9bfe0f1526f076b3652a5fc/Mono.Cecil/BaseAssemblyResolver.cs) compiled with `NET_CORE` defined?

And I guess no aim to address this in the pipe, right? Would be good to know in order to adapt.

[2018-02-22 22:08] kumpera opened #489 "Don't throw InvalidOperationException when a mismatched pdb is found"
It's impossible to either figure out or troubleshoot that was the issue.

If you want to keep the exception, at least fix the message, cuz right now it throws a super helpful `System.InvalidOperationException: Operation is not valid due to the current state of the object`

[2018-03-01 16:28] Nezz opened #490 "File not closed when using InMemory?"
In this part of `ModuleDefinition`:
https://github.com/jbevain/cecil/blob/master/Mono.Cecil/ModuleDefinition.cs#L1079-L1087
I noticed that the `stream` variable gets simply overwritten with a `MemoryStream`. As a result, `FileStream` is not disposed when `InMemory` is used. Are my observations correct?

[2018-03-01 16:54] jbevain commented on #490
This line:

https://github.com/jbevain/cecil/blob/master/Mono.Cecil/ModuleDefinition.cs#L1083

Will dispose the file stream after it has been copied in the memory stream.

[2018-03-01 16:54] #490 closed

[2018-03-01 17:02] Nezz commented on #490
Of course, thanks!

[2018-03-02 02:35] jbevain commented on #489
Yeah that #480.

[2018-03-02 02:35] #489 closed

[2018-03-02 02:36] jbevain commented on #480
Yeah that's pretty bad. We should probably introduce a Cecil exception for mismatched symbols. @spouliot what was the PR you wanted to suggest?

[2018-03-02 02:43] jbevain commented on #478
It goes like this:

The MdbReaderProvider creates a MdbReader.
If the module has been asked to load things Immediately, it will create the symbols for the methods.
If the module has been asked to load things when accessed (deferred), the symbols are accessed when creating the method body.

[2018-03-02 02:43] #478 closed

[2018-03-02 03:40] jbevain commented on #463
Let's go one single Document class with different fields and each reader/writer populates takes what i can. That's what we've been doing for mdb and pdb for now.

[2018-03-02 03:43] jbevain commented on #463
That's #491.

[2018-03-02 18:19] #463 closed

[2018-03-06 17:34] sebandraos opened #495 "Multi-Targeting with Full Debug Symbols results in Missing Method Exception"
When multi-targeting and using DebugType = Full, the issue below is thrown. There is a minimal repro [here](https://github.com/sebandraos/PropertyChangedRepro).

[code]

I was able to reproduce the error by targeting any two or more frameworks, either a mix of core and framework, all core or all full framework. That said as soon as I dropped back to a single target framework the error disappears d

[2018-03-06 18:48] jbevain commented on #495
A missing method exception? That's very weird. As if the Mono.Cecil.dll and Mono.Cecil.Pdb.dll are not in sync.

[2018-03-06 19:08] jbevain commented on #495
@SimonCropp Simon does this ring a bell?

[2018-03-06 23:20] ltrzesniewski opened #496 "ModuleDefinition.GetType(string, bool) can return a type that doesn't exist"
The `ModuleDefinition.GetType(string fullName, bool runtimeName)` method has a discrepancy when you pass it a type name which doesn't exist:

- When `runtimeName` is false, it returns null
- When `runtimeName` is true, it returns a reference to the non-existing type

The reference is being created by `TypeParser` [here](https://github.com/jbevain/cecil/blob/f9ac40651febac1c79095d1a159e166530001b58

[2018-03-06 23:48] jbevain commented on #496
Yeah that looks weird.

[2018-03-07 04:48] jbevain commented on #496
Fixed in 022b6f6a6303937452050ad7724953db2f52fd71. Thanks for reporting this!

[2018-03-07 04:48] #496 closed

[2018-03-07 14:10] richardwerkman opened #497 "IndexOutOfBoundExeption on .Net Core"
When calling ReadSymbols an IndexOutOfBoundExeption occurs using .Net Core 2.0. Is this an compatibility issue with .Net Core?

            var readerParameters = new ReaderParameters { AssemblyResolver = assemblyResolver };
            var writerParameters = new WriterParameters();
            var pdbName = Path.ChangeExtension(AssemblyPath, "pdb");

            ISymbolReaderProvider provider = n

[2018-03-07 16:51] jbevain commented on #497
Hello,

Which version of Cecil are you using? You need to be using the 0.10 nuget or master to be able to handle the new portable pdb format in .NET Core.

[2018-03-07 18:26] richardwerkman commented on #497
Hey,

I was using version 0.9.6.4, now trying to update to 0.10. Some things have changed I see, could you please explain why the sequence points are no longer part of the instructions? My goal is to mutate the IL and show users where the mutation took place. How can I find the matching sequencepoint for a instruction?

Thanks in advance

[2018-03-07 18:31] jbevain commented on #497
I wrote about the breaking changes in http://cecil.pe/

Basically, `method.DebugInformation` will have the sequence points.

[2018-03-07 19:10] richardwerkman commented on #497
Thanks for pushing me in the right direction. You saved my day! Closing the issue now.

[2018-03-07 19:10] #497 closed

[2018-03-16 12:31] enemyofthedawn opened #498 "Check if type is COM type (component object model)"
Is there a way to check if a type is COM type?, or contains ComVisible attribute or something like that?

Thanks

[2018-03-16 13:11] enemyofthedawn commented on #498
I solved it

[code]

[2018-03-16 13:11] #498 closed

[2018-03-16 19:36] enemyofthedawn opened #499 "Type.GUID and Marshal.GenerateGuidForType"
Is there some way to get a GUID of the type? Or how does it work originally? In one of my projects I must load 4.0+ assemblies from 3.5 project and I can't use standard functionality for that.

[2018-03-16 20:47] enemyofthedawn commented on #499
Nevermind, it's generated internally by the CLR: https://github.com/dotnet/coreclr/blob/7f7d8276e65059a37001aaa5ce9af7e82249f4a0/src/vm/methodtable.cpp#L7377

[2018-03-16 20:47] #499 closed

[2018-03-21 15:04] SteveGilham opened #500 "[0.10.0 netstandard] System.MissingMethodException : Method not found: 'Int32 Mono.Cecil.MetadataReader.ReadCodeSize(Mono.Cecil.MethodDefinition)'."
This is a change of behaviour since 0.10-beta7 -- loading an assembly built with `mcs` with a `.mdb` symbol file used to work quite happily from a .net core process the same as from old-fashioned .net.  Old-fashioned .net still works with  0.10 final, but now using a .net core process to load the same assembly, a `System.MissingMethodException` with this stack trace emerges
[code]

[2018-03-21 16:01] jbevain commented on #500
How weird. Thanks for reporting this. You're using both the Mono.Cecil.dll and Mono.Cecil.Mdb.dll from the lib/netstandard1.3 nuget?

[2018-03-21 16:06] SteveGilham commented on #500
Being a .net core app, it just says `    <PackageReference Include="Mono.Cecil" Version="0.10.0" />` in the project file, so I'm assuming that doesn't have its wires crossed.

Here's an assembly that shows the issue : [Sample1.zip](https://github.com/jbevain/cecil/files/1834094/Sample1.zip)

[2018-03-21 16:12] jbevain commented on #500
Thanks, I'll have a look pronto.

[2018-03-21 16:27] jbevain commented on #500
This actually looks like #495.

[2018-03-21 16:57] jbevain commented on #500
The reason why it changed between the beta7 and the final is b4f4571a7f45df013c32f3ccd3939b8852819b04 that introduced the call.

[2018-03-21 17:13] jbevain commented on #500
@SteveGilham I can't seem to repro.

I created a new dotnet project:

[code]

Modified the csproj so that it reads:

[code]

Wrote:

[code]

And when running for both frameworks it runs without crashing on getting the method body.

[2018-03-21 17:55] SteveGilham commented on #500
I'm in the process of cutting down to a simple repro case.  Will update later.

[2018-03-21 20:21] SteveGilham commented on #500
I've found the culprit.  It's the NUnit3TestAdapter v 3.10.0 which includes also Mono.Cecil, from beta6
[code]
and that's going to be loaded ahead of any of my code.

[2018-03-21 20:22] #500 closed

[2018-03-22 11:51] atykhyy opened #501 "Out-of-range rids emitted in metadata tables"
...if a `TypeReference` to a nested type is created with `DeclaredType` set to a `TypeDefinition`. This behavior is unexpected because `TypeDefinition` inherits from `TypeReference` and is usually usable where a `TypeReference` is required. Context: it is sometimes easier to create a `TypeReference` to a nested type that will be created later.

[MWE.zip](https://github.com/jbevain/cecil/files/1837

[2018-03-22 14:25] SteveGilham opened #502 "Assembly version should step when the effective interface changes"
The root cause of the problem I reported as issue #500 is that the effective interface (which includes the internal methods used by the associated assemblies) of the Mono.Cecil assembly changed between beta7 and final, but the assembly version, which is used by the runtime as a shorthand for the effective interface, did not, and there was no automated check in place to warn of this.  Interface ver

[2018-03-26 05:57] Keboo opened #505 "ImportReference throws NotImplementedException on core"
I am using [Fody](https://github.com/Fody/Fody) to create a weaver that uses cecil.

When calling `ModuleDefinition.ImportReference(MethodBase)` on .NET Core passing a method from a generic class it throws a NotImplementedException. I believe I am hitting the exception case [here](https://github.com/jbevain/cecil/blob/master/Mono.Cecil/Import.cs#L374-L381) from [here](https://github.com/jbevain/ce

[2018-03-26 17:00] jbevain commented on #505
As a workaround you could work with the Cecil type system and use the ImportReference(MethodReference) overloads.

You could also rebuild Cecil to target .net standard 2.0 and remove the `ifdef` as ResolveMethod should be in the .NET Standard 2.0.

[2018-03-26 17:09] Keboo commented on #505
@jbevain thank you for the quick reply. I will look into doing that.

[2018-03-26 17:15] jbevain commented on #505
Let's keep that open. I want to move to the .net standard 2 for the next release.

[2018-03-30 01:08] SimonCropp commented on #500
@SteveGilham one of reasons i moved to xunit

[2018-03-30 01:10] SimonCropp commented on #495
first observation. it only occurs in VS. ie not in dotnet build or jetrains rider

[2018-04-01 11:27] atykhyy commented on #487
I solve this problem by passing the list of `ReferencePath` items for the assembly being post-compiled to my MSBuild task, which implements a custom `IAssemblyResolver` that resolves assemblies based on the contents of this item list. Since this list is just what `csc` uses to compile the assembly in the first place, this works regardless of the target framework.

[2018-04-01 21:51] SimonCropp commented on #505
@Keboo you should never be converting a methodbase into a methodreference in a fody weaver. Since doing this will leak the build runtime references into the resultant assembly

[2018-04-02 15:17] Keboo commented on #505
@SimonCropp thank you, I will make sure to address those. Two follow up questions.

1. Are there any other call like that I should be aware of? Or is there any documentation I can work through?
2. What I am trying to do is invoke a method that has a signature like this: `public void Foo(Action<object> bar)`. Do you have any suggestions on the best way to build up that `Action<>` delegate?

[2018-04-12 09:13] mfkl opened #506 "ArgumentNullException in InstructionOffset constructor"
Hi there,

[code]

This happens when doing `DllImport` calls onto an armeabi-v7a .so file on Android on VS for Windows. Interestingly, VS for Mac does not present the same issue with the same code/.so.

[code]